@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap);
@charset "UTF-8";
/* 
 * SIMAI Framework - Документация 
 */
code, .t-source {
  font-family: var(--sf-mono); }

.t-lead {
  font-size: var(--sf-text--size-2);
  line-height: var(--sf-text--height-2);
  color: var(--sf-color--text-tertiary); }

.example {
  padding: var(--sf-space-5);
  margin: 0;
  background-color: var(--sf-surface-1); }

.source {
  padding: var(--sf-space-5);
  margin-bottom: var(--sf-text--size-1);
  background-color: var(--sf-surface-2);
  color: var(--sf-surface-inverse);
  tab-size: var(--sf-text--size-1); }

.clipboard {
  position: relative;
  float: right; }

.clipboard + .source {
  margin-top: 0; }

.btn-clipboard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  color: var(--sf-color--text-secondary);
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: .25rem; }

.btn-clipboard:hover {
  color: var(--sf-color--text-secondary); }

code:not([class]) {
  color: var(--sf-error); }

code.value {
  color: var(--sf-surface-0); }

.bg-stripes {
  --sf-stripes: var(--sf-surface-1);
  background-image: linear-gradient(-45deg, var(--sf-stripes) 12.5%, transparent 12.5%, transparent 50%, var(--sf-stripes) 50%, var(--sf-stripes) 62.5%, transparent 62.5%, transparent 100%);
  background-size: 5.66px 5.66px; }

.bg-stripes-white {
  --sf-stripes: hsla(0,0%,100%, 0.4); }

.bg-stripes-blue {
  --sf-stripes: var(--sf-color--info-tonal); }

.bg-checkered {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath fill=%27%23F0F0F0%27 d=%27M0 0h8v8H0zm8 8h8v8H8z%27/%3E%3C/svg%3E");
  background-size: 16px 16px; }

/* 
  highlight.js styles
  https://highlightjs.org/
*/
.hljs {
  display: block;
  padding: 0.5em;
  color: var(--sf-color--text-secondary);
  overflow-x: auto; }

.hljs-comment,
.hljs-quote {
  color: var(--sf-color--text-secondary);
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: rvar(--sf-color--surface-variant);
  font-weight: bold; }

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: var(--sf-success); }

.hljs-string,
.hljs-doctag {
  color: var(--sf-error); }

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: var(--sf-color--text-secondary);
  font-weight: bold; }

.hljs-subst {
  font-weight: normal; }

.hljs-type,
.hljs-class .hljs-title {
  color: var(--sf-success);
  font-weight: bold; }

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: var(--sf-surface-0);
  font-weight: normal; }

.hljs-regexp,
.hljs-link {
  color: var(--sf-success); }

.hljs-symbol,
.hljs-bullet {
  color: var(--sf-error); }

.hljs-built_in,
.hljs-builtin-name {
  color: var(--sf-color--info-primary); }

.hljs-meta {
  color: var(--sf-color--text-secondary);
  font-weight: bold; }

.hljs-deletion {
  background: var(--sf-error); }

.hljs-addition {
  background: var(--sf-color--primary-tonal); }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

