/build_*/
/node_modules/
/vendor/
/source/assets/build/
/composer.json
/bootstrap.php
/config.php
.idea
yarn.lock
tailwind.config.js
webpack.mix.js
composer.lock
.env
temp
trash
/translate.config.php
npm-debug.log
/package-lock.json
/source/404.blade.php
/source/favicon.ico
