/*
            * Main SCSS file for including styles for component.
            * 
            * Imports:
            * - Styling variables (_var__component_name.scss)
            * - Base styles (_css__component_name.scss)
            * 
            */
/*
            * _var__component_name.scss
            * 
            * SCSS file containing variables for component styling.
            * 
            * Used to define default parameters (color, size, etc.)
            * that can be overridden in other parts of the project.
            * 
            * Example usage:
            * --sf-icon--fill: 0; // Fill for icon
            */
.sf-breadcrumb {
  --sf-breadcrumb--padding-1: var(--sf-b0);
  --sf-breadcrumb--padding-2: var(--sf-b6);
  --sf-breadcrumb--color: var(--sf-on-surface-variant);
  padding: var(--sf-breadcrumb--padding-1) var(--sf-breadcrumb--padding-2);
  list-style: none; }
  .sf-breadcrumb .sf-breadcrumb-item {
    display: inline; }
    .sf-breadcrumb .sf-breadcrumb-item a {
      -webkit-text-decoration: none;
      text-decoration: none;
      color: var(--sf-breadcrumb--color); }
    .sf-breadcrumb .sf-breadcrumb-item .icon {
      --sf-breadcrumb-i--padding: var(--sf-a3);
      --sf-breadcrumb-i--font-size: var(--sf-c0);
      padding-top: var(--sf-breadcrumb-i--padding);
      font-size: var(--sf-breadcrumb-i--font-size);
      height: var(--sf-breadcrumb-i--font-size); }
      .sf-breadcrumb .sf-breadcrumb-item .icon.sf-breadcrumb--primary-color {
        color: var(--sf-primary); }
    .sf-breadcrumb .sf-breadcrumb-item:active {
      --sf-breadcrumb--color: var(--sf-primary-active); }
    .sf-breadcrumb .sf-breadcrumb-item:hover {
      --sf-breadcrumb--color: var(--sf-primary-hover); }
    .sf-breadcrumb .sf-breadcrumb-item:focus {
      --sf-breadcrumb--color: var(--sf-primary-hover);
      box-shadow: 0px 0px var(--sf-a4) var(--sf-focus--color); }
  .sf-breadcrumb .sf-breadcrumb--primary-color {
    --sf-breadcrumb--color: var(--sf-primary); }

