/*
            * Main SCSS file for including styles for component.
            * 
            * Imports:
            * - Styling variables (_var__component_name.scss)
            * - Base styles (_css__component_name.scss)
            * 
            */
/*
            * _var__component_name.scss
            * 
            * SCSS file containing variables for component styling.
            * 
            * Used to define default parameters (color, size, etc.)
            * that can be overridden in other parts of the project.
            * 
            * Example usage:
            * --sf-icon--fill: 0; // Fill for icon
            */
.carousel-pagination {
  display: inline-flex;
  justify-content: center;
  bottom: 0;
  position: absolute;
  left: 0;
  background-color: var(--sf-primary);
  border-radius: var(--sf-b3); }

.carousel-pagination .item {
  background: var(--sf-primary-50);
  transition: all 0.25s ease-in-out;
  color: white;
  min-height: var(--sf-a8);
  min-width: var(--sf-a8);
  border-radius: 50%;
  margin: var(--sf-a8); }

.carousel-pagination.primary-container {
  background-color: var(--sf-primary-container);
  color: var(--sf-primary-85); }

.carousel-pagination.surface-2 {
  background-color: var(--sf-surface-2);
  color: var(--sf-surface-4); }

.carousel-pagination.surface-2 .item {
  background: var(--sf-surface-4); }

.carousel-pagination .item:hover {
  background-color: white; }

.carousel-pagination.surface-2 .item:hover {
  background-color: var(--sf-on-surface); }

.carousel-pagination.surface-inverse {
  background-color: var(--sf-surface-inverse); }

.carousel-pagination.surface-inverse .item {
  background-color: var(--sf-on-surface-variant); }

.carousel-pagination.surface-inverse .item:hover {
  background-color: var(--sf-on-surface-inverse); }

.carousel-pagination.big {
  border-radius: var(--sf-d2); }

.carousel-pagination.big .item {
  min-height: var(--sf-b0);
  min-width: var(--sf-b0);
  margin: var(--sf-b2); }

.carousel-pagination .item:hover {
  cursor: pointer; }

.carousel-pagination.no-background.primary {
  background-color: unset; }

.carousel-pagination.no-background.primary .item {
  background-color: var(--sf-surface-3); }

.carousel-pagination.no-background.primary .item:hover {
  background-color: var(--sf-primary); }

.carousel-pagination.no-background {
  background-color: unset; }

.carousel-pagination.no-background.primary .item {
  background-color: var(--sf-surface-3); }

.carousel-pagination.no-background.primary .item:hover {
  background-color: var(--sf-primary); }

.carousel-switch {
  --sf-carousel-switch--background-color: var(--sf-primary);
  --sf-carousel-switch--color: white;
  background-color: var(--sf-carousel-switch--background-color);
  color: var(--sf-carousel-switch--color);
  padding: var(--sf-b0);
  border-radius: 50%;
  max-height: var(--sf-c6);
  max-width: var(--sf-c6);
  font-size: var(--sf-text--height-1\/3);
  display: flex;
  justify-content: center;
  align-items: center; }

.carousel-switch .icon {
  color: inherit;
  font-size: inherit; }

.carousel-switch.secondary-container {
  --sf-carousel-switch--background-color: var(--sf-secondary-container);
  --sf-carousel-switch--color: var(--sf-on-secondary-container); }

.carousel-switch.surface-inverse {
  --sf-carousel-switch--background-color: var(--sf-surface-inverse);
  --sf-carousel-switch--color: var(--sf-on-surface-inverse); }

.carousel-switch.surface-inverse {
  --sf-carousel-switch--background-color: var(--sf-surface-inverse);
  --sf-carousel-switch--color: var(--sf-on-surface-inverse); }

.carousel-switch.surface-zero {
  --sf-carousel-switch--background-color: var(--sf-surface-0);
  --sf-carousel-switch--color: var(--sf-on-surface); }

.carousel-switch.big {
  max-height: var(--sf-d1);
  max-width: var(--sf-d1);
  font-size: var(--sf-text--height-1);
  padding: var(--sf-b6); }

.carousel-switch:hover {
  cursor: pointer; }

/*hovers*/
.carousel-switch.primary:hover {
  --sf-carousel-switch--background-color: var(--sf-primary-hover); }

.carousel-switch.secondary-container:hover {
  --sf-carousel-switch--background-color: var(--sf-secondary-container-hover);
  --sf-carousel-switch--color: var(--sf-on-secondary-container-hover); }

.carousel-switch.surface-inverse:hover {
  --sf-carousel-switch--background-color: var(--sf-surface-inverse-hover);
  --sf-carousel-switch--color: var(--sf-on-surface-inverse-hover); }

.carousel-switch.surface-zero:hover {
  --sf-carousel-switch--background-color: var(--sf-surface-0-hover);
  --sf-carousel-switch--color: var(--sf-on-surface-hover); }

/**/
.carousel-slider:hover .carousel-next-btn,
.carousel-slider:hover .carousel-prev-btn,
.carousel-slider:hover .carousel-pagination {
  opacity: 1; }

.sf-carousel {
  --sf-carousel-slide--width: var(--sf-h0);
  --sf-carousel-slide--height: var(--sf-g3);
  width: var(--sf-carousel-slide--width);
  height: var(--sf-carousel-slide--height);
  position: relative; }

.sf-carousel .slide {
  width: inherit;
  height: inherit; }

.sf-carousel .carousel-switch {
  position: absolute;
  top: 50%; }

.sf-carousel .carousel-switch.right {
  right: var(--sf-b6); }

.sf-carousel .carousel-switch.left {
  left: var(--sf-b6); }

.sf-carousel .carousel-pagination {
  bottom: var(--sf-b6);
  left: 50%;
  transform: translate(-50%, 0); }

.sf-carousel .slide img {
  width: inherit;
  height: inherit;
  object-fit: cover; }

