.sf--cl * {
  cursor: wait; }

.sf--cl-loader span, .sf--cl-loader button, .sf--cl-loader a {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeholderAnim; }

smart.cl--error {
  border: 1px solid #cb2431;
  padding: 10px;
  display: block; }

@keyframes placeholderAnim {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }

sf-component {
  display: none; }

@charset "UTF-8";
/*
 *	SIMAI Framework
 *	Version: 5.0.0 alfa
 *	Project site: http://simai.io
 *
 *  Author: Rim Zabarov (rim@zabarov.ru)
 *	Copyright: 2008-2022 SIMAI Ltd
 *	Company site: https://simai.studio
 *
 *	Licensed GPLv3 for open source applications 
 *	or SIMAI Framework Commercial License for commercial use
 *
 * 	Modifier Reduction:
 * 	.a  - (absolute) absolute position modifiers;
 * 	.b  - (border) border modifiers;
 * 	.bg - (background) background modifiers;
 * 	.с  - (color) text color modifiers;
 * 	.d  - (display) display modifiers;
 * 	.f  - (fill) SVG fill color modifiers;
 * 	.h  - (height) object height modifiers;
 * 	.l  - (link) link modifiers;
 * 	.m  - (margin) margin modifiers;
 * 	.o  - (opacity) opacity modifiers;
 * 	.p  - (padding) padding modifiers;
 * 	.s  - (stroke) SVG stroke color modifiers;
 * 	.t  - (typography) text modifiers;
 * 	.w  - (width) width modifiers.
 *
 * 	Modifier Side Reduction: 
 * 	l - (left) left-hand side;
 * 	r - (right) right-hand side;
 * 	t - (top) upper side;
 * 	b - (bottom) down side;
 * 	x - (X-axis) horizontally.
 * 	y - (Y-axis) vertically;
 *
 */
:root {
  --sf-empty: ;
  --sf-alfa: 1; }

body,
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

ol,
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle; }

input {
  background-color: var(--sf-surface-0);
  color: var(--sf-on-surface); }

mark {
  position: relative;
  white-space: pre-wrap;
  background-color: var(--sf-mark--color);
  font-weight: inherit;
  font-style: inherit; }

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  box-sizing: border-box; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

body {
  color: var(--sf-on-surface);
  background-color: var(--sf-surface-0); }

:root {
  --sf-0: 0rem;
  --sf-px: 1px;
  --sf-auto: auto;
  --sf-a0: 0rem;
  --sf-a1: 0.0625rem;
  --sf-a2: 0.125rem;
  --sf-a3: 0.1875rem;
  --sf-a4: 0.25rem;
  --sf-a5: 0.3125rem;
  --sf-a6: 0.375rem;
  --sf-a7: 0.4375rem;
  --sf-a8: 0.5rem;
  --sf-a9: 0.5625rem;
  --sf-b0: 0.625rem;
  --sf-b1: 0.6875rem;
  --sf-b2: 0.75rem;
  --sf-b3: 0.8125rem;
  --sf-b4: 0.875rem;
  --sf-b5: 0.9375rem;
  --sf-b6: 1rem;
  --sf-b7: 1.0625rem;
  --sf-b8: 1.125rem;
  --sf-b9: 1.1875rem;
  --sf-c0: 1.25rem;
  --sf-c1: 1.375rem;
  --sf-c2: 1.5rem;
  --sf-c3: 1.625rem;
  --sf-c4: 1.75rem;
  --sf-c5: 1.875rem;
  --sf-c6: 2rem;
  --sf-c7: 2.125rem;
  --sf-c8: 2.25rem;
  --sf-c9: 2.375rem;
  --sf-d0: 2.5rem;
  --sf-d1: 2.75rem;
  --sf-d2: 3rem;
  --sf-d3: 3.25rem;
  --sf-d4: 3.5rem;
  --sf-d5: 3.75rem;
  --sf-d6: 4rem;
  --sf-d7: 4.25rem;
  --sf-d8: 4.5rem;
  --sf-d9: 4.75rem;
  --sf-e0: 5rem;
  --sf-e1: 5.5rem;
  --sf-e2: 6rem;
  --sf-e3: 6.5rem;
  --sf-e4: 7rem;
  --sf-e5: 7.5rem;
  --sf-e6: 8rem;
  --sf-e7: 8.5rem;
  --sf-e8: 9rem;
  --sf-e9: 9.5rem;
  --sf-f0: 10rem;
  --sf-f1: 11rem;
  --sf-f2: 12rem;
  --sf-f3: 13rem;
  --sf-f4: 14rem;
  --sf-f5: 15rem;
  --sf-f6: 16rem;
  --sf-f7: 17rem;
  --sf-f8: 18rem;
  --sf-f9: 19rem;
  --sf-g0: 20rem;
  --sf-g1: 22rem;
  --sf-g2: 24rem;
  --sf-g3: 26rem;
  --sf-g4: 28rem;
  --sf-g5: 30rem;
  --sf-g6: 32rem;
  --sf-g7: 34rem;
  --sf-g8: 36rem;
  --sf-g9: 38rem;
  --sf-h0: 40rem;
  --sf-h1: 44rem;
  --sf-h2: 48rem;
  --sf-h3: 52rem;
  --sf-h4: 56rem;
  --sf-h5: 60rem;
  --sf-h6: 64rem;
  --sf-h7: 68rem;
  --sf-h8: 72rem;
  --sf-h9: 76rem;
  --sf-i0: 80rem;
  --sf-i1: 88rem;
  --sf-i2: 96rem;
  --sf-i3: 104rem;
  --sf-i4: 112rem;
  --sf-i5: 120rem;
  --sf-i6: 128rem;
  --sf-i7: 136rem;
  --sf-i8: 144rem;
  --sf-i9: 152rem;
  --sf-z-index--1: -1;
  --sf-z-index-1: 10;
  --sf-z-index-2: 20;
  --sf-z-index-3: 30;
  --sf-z-index-4: 40;
  --sf-z-index-5: 50;
  --sf-z-index-6: 60;
  --sf-z-index-7: 70;
  --sf-z-index-8: 80;
  --sf-z-index-9: 90;
  --sf-z-index-0: 0; }

:root, ::after, ::before {
  --sf-alfa: 1;
  --sf-color--alfa: 1;
  --sf-decoration--alfa: 1;
  --sf-border--alfa: 1;
  --sf-divider--alfa: 1;
  --sf-outline--alfa: 1;
  --sf-ring--alfa: 1;
  --sf-bg--alfa: 1;
  --sf-stripe--alfa: 1;
  --sf-ring-color: ;
  --sf-gradient--angle: 90deg;
  --sf-gradient--alfa-1: 1;
  --sf-gradient--alfa-2: 1;
  --sf-gradient--alfa-3: 1;
  --sf-stripe--size: 2px;
  --sf-accent--alfa: 1;
  --sf-caret--alfa: 1;
  --sf-scroll--alfa: 1;
  --sf-scroll-thumb--alfa: 1;
  --sf-scroll-track--alfa: 1;
  --sf-stripe--color: var(--sf-color--surface-inverse);
  --sf-drop-shadow--alfa: 1;
  --sf-shadow--alfa: 1; }

:root, ::after, ::before {
  --sf-transparent: rgba(0,0,0,0);
  --sf-inherit: inherit;
  --sf-current: currentColor;
  --sf-white: rgba(255, 255, 255, 1);
  --sf-black: rgba(0, 0, 0, 1);
  --sf-ring-inset: ;
  --sf-ring-offset-shadow: 0 0 #0000;
  --sf-ring-offset-width: var(--sf-a2);
  --sf-ring-offset-color: #fff;
  --tw-ring-offset-shadow: 0 0 #0000;
  --sf-white-alfa-4: rgba(255,255,255,0.04);
  --sf-white-alfa-8: rgba(255,255,255,0.08);
  --sf-white-alfa-12: rgba(255,255,255,0.12);
  --sf-white-alfa-24: rgba(255,255,255,0.24);
  --sf-black-alfa-4: rgba(0,0,0,0.04);
  --sf-black-alfa-8: rgba(0,0,0,0.08);
  --sf-black-alfa-12: rgba(0,0,0,0.12);
  --sf-black-alfa-24: rgba(0,0,0,0.24);
  --sf-primary-98: #f9f9ff;
  --sf-primary-95: #edf0ff;
  --sf-primary-90: #d7e2ff;
  --sf-primary-90--alfa-4: color-mix(in srgb, var(--sf-transparent), var(--sf-primary-90) 4%);
  --sf-primary-90--alfa-8: color-mix(in srgb, var(--sf-transparent), var(--sf-primary-90) 8%);
  --sf-primary-90--alfa-12: color-mix(in srgb, var(--sf-transparent), var(--sf-primary-90) 12%);
  --sf-primary-90--alfa-24: color-mix(in srgb, var(--sf-transparent), var(--sf-primary-90) 24%);
  --sf-primary-85: #c2d5ff;
  --sf-primary-80: #acc7ff;
  --sf-primary-70: #7eabff;
  --sf-primary-60: #488fff;
  --sf-primary-50: #0073ed;
  --sf-primary-50--alfa-4: color-mix(in srgb, var(--sf-transparent), var(--sf-primary-50) 4%);
  --sf-primary-50--alfa-8: color-mix(in srgb, var(--sf-transparent), var(--sf-primary-50) 8%);
  --sf-primary-50--alfa-12: color-mix(in srgb, var(--sf-transparent), var(--sf-primary-50) 12%);
  --sf-primary-50--alfa-24: color-mix(in srgb, var(--sf-transparent), var(--sf-primary-50) 24%);
  --sf-primary-40: #005bbe;
  --sf-primary-35: #0050a7;
  --sf-primary-30: #004491;
  --sf-primary-25: #00397c;
  --sf-primary-20: #002f67;
  --sf-primary-15: #002453;
  --sf-primary-10: #001a40;
  --sf-primary-5: #00102c;
  --sf-secondary-98: #f9f9ff;
  --sf-secondary-95: #edf0ff;
  --sf-secondary-90: #d7e2ff;
  --sf-secondary-90--alfa-4: color-mix(in srgb, var(--sf-transparent), var(--sf-secondary-90) 4%);
  --sf-secondary-90--alfa-8: color-mix(in srgb, var(--sf-transparent), var(--sf-secondary-90) 8%);
  --sf-secondary-90--alfa-12: color-mix(in srgb, var(--sf-transparent), var(--sf-secondary-90) 12%);
  --sf-secondary-90--alfa-24: color-mix(in srgb, var(--sf-transparent), var(--sf-secondary-90) 24%);
  --sf-secondary-85: #c9d4f1;
  --sf-secondary-80: #bbc6e3;
  --sf-secondary-70: #a0abc7;
  --sf-secondary-60: #8591ab;
  --sf-secondary-50: #6c7791;
  --sf-secondary-50--alfa-4: color-mix(in srgb, var(--sf-transparent), var(--sf-secondary-50) 4%);
  --sf-secondary-50--alfa-8: color-mix(in srgb, var(--sf-transparent), var(--sf-secondary-50) 8%);
  --sf-secondary-50--alfa-12: color-mix(in srgb, var(--sf-transparent), var(--sf-secondary-50) 12%);
  --sf-secondary-50--alfa-24: color-mix(in srgb, var(--sf-transparent), var(--sf-secondary-50) 24%);
  --sf-secondary-40: #535e77;
  --sf-secondary-35: #47526a;
  --sf-secondary-30: #3c475e;
  --sf-secondary-25: #303b52;
  --sf-secondary-20: #253047;
  --sf-secondary-15: #1a263b;
  --sf-secondary-10: #101b31;
  --sf-secondary-5: #051126;
  --sf-tertiary-98: #fff7fa;
  --sf-tertiary-95: #ffebfd;
  --sf-tertiary-90: #fdd6ff;
  --sf-tertiary-90--alfa-4: color-mix(in srgb, var(--sf-transparent), var(--sf-tertiary-90) 4%);
  --sf-tertiary-90--alfa-8: color-mix(in srgb, var(--sf-transparent), var(--sf-tertiary-90) 8%);
  --sf-tertiary-90--alfa-12: color-mix(in srgb, var(--sf-transparent), var(--sf-tertiary-90) 12%);
  --sf-tertiary-90--alfa-24: color-mix(in srgb, var(--sf-transparent), var(--sf-tertiary-90) 24%);
  --sf-tertiary-85: #f9c2ff;
  --sf-tertiary-80: #ecb3f4;
  --sf-tertiary-70: #cf98d8;
  --sf-tertiary-60: #b37ebb;
  --sf-tertiary-50: #9765a0;
  --sf-tertiary-50--alfa-4: color-mix(in srgb, var(--sf-transparent), var(--sf-tertiary-50) 4%);
  --sf-tertiary-50--alfa-8: color-mix(in srgb, var(--sf-transparent), var(--sf-tertiary-50) 8%);
  --sf-tertiary-50--alfa-12: color-mix(in srgb, var(--sf-transparent), var(--sf-tertiary-50) 12%);
  --sf-tertiary-50--alfa-24: color-mix(in srgb, var(--sf-transparent), var(--sf-tertiary-50) 24%);
  --sf-tertiary-40: #7c4c86;
  --sf-tertiary-35: #6f4079;
  --sf-tertiary-30: #63356c;
  --sf-tertiary-25: #562960;
  --sf-tertiary-20: #4a1e54;
  --sf-tertiary-15: #3e1249;
  --sf-tertiary-10: #32053e;
  --sf-tertiary-5: #23002d;
  --sf-error-98: #fff8f7;
  --sf-error-95: #ffedea;
  --sf-error-90: #ffdad6;
  --sf-error-90--alfa-4: color-mix(in srgb, var(--sf-transparent), var(--sf-error-90) 4%);
  --sf-error-90--alfa-8: color-mix(in srgb, var(--sf-transparent), var(--sf-error-90) 8%);
  --sf-error-90--alfa-12: color-mix(in srgb, var(--sf-transparent), var(--sf-error-90) 12%);
  --sf-error-90--alfa-24: color-mix(in srgb, var(--sf-transparent), var(--sf-error-90) 24%);
  --sf-error-85: #ffc7c0;
  --sf-error-80: #ffb4ab;
  --sf-error-70: #ff897d;
  --sf-error-60: #ff5449;
  --sf-error-50: #df362f;
  --sf-error-50--alfa-4: color-mix(in srgb, var(--sf-transparent), var(--sf-error-50) 4%);
  --sf-error-50--alfa-8: color-mix(in srgb, var(--sf-transparent), var(--sf-error-50) 8%);
  --sf-error-50--alfa-12: color-mix(in srgb, var(--sf-transparent), var(--sf-error-50) 12%);
  --sf-error-50--alfa-24: color-mix(in srgb, var(--sf-transparent), var(--sf-error-50) 24%);
  --sf-error-40: #bb1919;
  --sf-error-35: #a9040e;
  --sf-error-30: #93000a;
  --sf-error-25: #7e0007;
  --sf-error-20: #690005;
  --sf-error-15: #540003;
  --sf-error-10: #410002;
  --sf-error-5: #2d0001;
  --sf-warning-98: #fff8f5;
  --sf-warning-95: #ffeee2;
  --sf-warning-90: #ffdcc1;
  --sf-warning-90--alfa-4: color-mix(in srgb, var(--sf-transparent), var(--sf-warning-90) 4%);
  --sf-warning-90--alfa-8: color-mix(in srgb, var(--sf-transparent), var(--sf-warning-90) 8%);
  --sf-warning-90--alfa-12: color-mix(in srgb, var(--sf-transparent), var(--sf-warning-90) 12%);
  --sf-warning-90--alfa-24: color-mix(in srgb, var(--sf-transparent), var(--sf-warning-90) 24%);
  --sf-warning-85: #ffca9f;
  --sf-warning-80: #ffb779;
  --sf-warning-70: #fa911c;
  --sf-warning-60: #d87900;
  --sf-warning-50: #b26300;
  --sf-warning-50--alfa-4: color-mix(in srgb, var(--sf-transparent), var(--sf-warning-50) 4%);
  --sf-warning-50--alfa-8: color-mix(in srgb, var(--sf-transparent), var(--sf-warning-50) 8%);
  --sf-warning-50--alfa-12: color-mix(in srgb, var(--sf-transparent), var(--sf-warning-50) 12%);
  --sf-warning-50--alfa-24: color-mix(in srgb, var(--sf-transparent), var(--sf-warning-50) 24%);
  --sf-warning-40: #8f4e00;
  --sf-warning-35: #7d4400;
  --sf-warning-30: #6c3a00;
  --sf-warning-25: #5c3000;
  --sf-warning-20: #4c2700;
  --sf-warning-15: #3d1e00;
  --sf-warning-10: #2e1500;
  --sf-warning-5: #1f0c00;
  --sf-success-98: #ecffe4;
  --sf-success-95: #c9ffbe;
  --sf-success-90: #8ffa88;
  --sf-success-90--alfa-4: color-mix(in srgb, var(--sf-transparent), var(--sf-success-90) 4%);
  --sf-success-90--alfa-8: color-mix(in srgb, var(--sf-transparent), var(--sf-success-90) 8%);
  --sf-success-90--alfa-12: color-mix(in srgb, var(--sf-transparent), var(--sf-success-90) 12%);
  --sf-success-90--alfa-24: color-mix(in srgb, var(--sf-transparent), var(--sf-success-90) 24%);
  --sf-success-85: #81ec7c;
  --sf-success-80: #74dd6f;
  --sf-success-70: #58c157;
  --sf-success-60: #3ba53f;
  --sf-success-50: #198a27;
  --sf-success-50--alfa-4: color-mix(in srgb, var(--sf-transparent), var(--sf-success-50) 4%);
  --sf-success-50--alfa-8: color-mix(in srgb, var(--sf-transparent), var(--sf-success-50) 8%);
  --sf-success-50--alfa-12: color-mix(in srgb, var(--sf-transparent), var(--sf-success-50) 12%);
  --sf-success-50--alfa-24: color-mix(in srgb, var(--sf-transparent), var(--sf-success-50) 24%);
  --sf-success-40: #006e17;
  --sf-success-35: #006013;
  --sf-success-30: #00530f;
  --sf-success-25: #00460b;
  --sf-success-20: #003908;
  --sf-success-15: #002d05;
  --sf-success-10: #002203;
  --sf-success-5: #001501;
  --sf-neutral-98: #faf9fe;
  --sf-neutral-95: #f1f0f6;
  --sf-neutral-90: #e3e2e7;
  --sf-neutral-90--alfa-4: color-mix(in srgb, var(--sf-transparent), var(--sf-neutral-90) 4%);
  --sf-neutral-90--alfa-8: color-mix(in srgb, var(--sf-transparent), var(--sf-neutral-90) 8%);
  --sf-neutral-90--alfa-12: color-mix(in srgb, var(--sf-transparent), var(--sf-neutral-90) 12%);
  --sf-neutral-90--alfa-24: color-mix(in srgb, var(--sf-transparent), var(--sf-neutral-90) 24%);
  --sf-neutral-85: #d4d4d9;
  --sf-neutral-80: #c6c6cb;
  --sf-neutral-70: #ababb0;
  --sf-neutral-60: #909095;
  --sf-neutral-50: #76777c;
  --sf-neutral-50--alfa-4: color-mix(in srgb, var(--sf-transparent), var(--sf-neutral-50) 4%);
  --sf-neutral-50--alfa-8: color-mix(in srgb, var(--sf-transparent), var(--sf-neutral-50) 8%);
  --sf-neutral-50--alfa-12: color-mix(in srgb, var(--sf-transparent), var(--sf-neutral-50) 12%);
  --sf-neutral-50--alfa-24: color-mix(in srgb, var(--sf-transparent), var(--sf-neutral-50) 24%);
  --sf-neutral-40: #5d5e63;
  --sf-neutral-35: #515257;
  --sf-neutral-30: #45474b;
  --sf-neutral-25: #3a3b40;
  --sf-neutral-20: #2f3035;
  --sf-neutral-15: #24262a;
  --sf-neutral-10: #1a1b1f;
  --sf-neutral-5: #0f1115; }

body {
  --sf-stripe--color: var(--sf-color--surface-inverse); }

*, .scroll-border {
  --sf-scroll-bg-track: var(--sf-surface-transparent-overlay);
  --sf-scroll-bg-thumb: var(--sf-color--surface-lowest);
  --sf-scroll-bg-width: var(--sf-b4);
  --sf-scroll-thumb-width: var(--sf-a6);
  --sf-scroll-radius: var(--sf-d6);
  scrollbar-width: var(--sf-scroll-bg-width);
  scrollbar-color: var(--sf-scroll-bg-thumb) var(--sf-scroll-bg-track);
  scroll-behavior: smooth; }
  *::-webkit-scrollbar, .scroll-border::-webkit-scrollbar {
    width: var(--sf-scroll-bg-width);
    height: var(--sf-scroll-bg-width); }
  *::-webkit-scrollbar-thumb, .scroll-border::-webkit-scrollbar-thumb {
    height: var(--sf-scroll-thumb-width);
    border: var(--sf-a4) solid var(--sf-transparent);
    background-clip: padding-box;
    border-radius: var(--sf-scroll-radius);
    background-color: var(--sf-scroll-bg-track); }
  *::-webkit-scrollbar-button, .scroll-border::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none; }
  *::-webkit-scrollbar-corner, .scroll-border::-webkit-scrollbar-corner {
    background-color: var(--sf-transparent); }
  *::-webkit-scrollbar-track, .scroll-border::-webkit-scrollbar-track {
    background-color: var(--sf-scroll-bg-thumb);
    border-radius: 0; }

@media (min-width: 960px) {
  :root {
    --sf-container-1--size-max: var(--sf-h5);
    --sf-container-2--size-max: var(--sf-h6);
    --sf-container-3--size-max: var(--sf-h8);
    --sf-container-4--size-max: var(--sf-i0);
    --sf-container-5--size-max: var(--sf-i1);
    --sf-container-6--size-max: var(--sf-i2);
    --sf-container-7--size-max: var(--sf-i3);
    --sf-container-8--size-max: var(--sf-i4); } }

:root {
  --sf-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --sf-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --sf-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --sf-text--size-1\/7: var(--sf-a4);
  --sf-text--size-1\/6: var(--sf-a6);
  --sf-text--size-1\/5: var(--sf-a8);
  --sf-text--size-1\/4: var(--sf-b0);
  --sf-text--size-1\/3: var(--sf-b2);
  --sf-text--size-1\/2: var(--sf-b2);
  --sf-text--size-1: var(--sf-b4);
  --sf-text--size-2: var(--sf-b6);
  --sf-text--size-3: var(--sf-b8);
  --sf-text--size-4: var(--sf-c0);
  --sf-text--size-5: var(--sf-c1);
  --sf-text--size-6: var(--sf-c2);
  --sf-text--size-7: var(--sf-c4);
  --sf-text--size-8: var(--sf-c6);
  --sf-text--size-9: var(--sf-c8);
  --sf-text--size-10: var(--sf-d0);
  --sf-text--size-11: var(--sf-d1);
  --sf-text--size-12: var(--sf-d2);
  --sf-text--height-1\/4: var(--sf-b2);
  --sf-text--height-1\/3: var(--sf-b6);
  --sf-text--height-1\/2: var(--sf-b6);
  --sf-text--height-1: var(--sf-c0);
  --sf-text--height-2: var(--sf-c2);
  --sf-text--height-3: var(--sf-c2);
  --sf-text--height-4: var(--sf-c4);
  --sf-text--height-5: var(--sf-c6);
  --sf-text--height-6: var(--sf-c8);
  --sf-text--height-7: var(--sf-d0);
  --sf-text--height-8: var(--sf-d2);
  --sf-text--height-9: var(--sf-d3);
  --sf-text--height-10: var(--sf-d5);
  --sf-text--height-11: var(--sf-d6);
  --sf-text--height-12: var(--sf-d8);
  --sf-title--height-1: var(--sf-b6);
  --sf-title--height-2: var(--sf-b6);
  --sf-title--height-3: var(--sf-c0);
  --sf-title--height-4: var(--sf-c2);
  --sf-title--height-5: var(--sf-c2);
  --sf-title--height-6: var(--sf-c4);
  --sf-title--height-7: var(--sf-c6);
  --sf-title--height-8: var(--sf-c8);
  --sf-title--height-9: var(--sf-d0);
  --sf-title--height-10: var(--sf-d2);
  --sf-title--height-11: var(--sf-d3);
  --sf-title--height-12: var(--sf-d4);
  --sf-label-small--size: var(--sf-text--size-1\/4);
  --sf-label-medium--size: var(--sf-text--size-1\/3);
  --sf-label-large--size: var(--sf-text--size-1\/2);
  --sf-label-small--height: var(--sf-text--height-1\/4);
  --sf-label-medium--height: var(--sf-text--height-1\/3);
  --sf-label-large--height: var(--sf-text--height-1\/2);
  --sf-text-small--size: var(--sf-text--size-1\/2);
  --sf-text-medium--size: var(--sf-text--size-1);
  --sf-text-large--size: var(--sf-text--size-2);
  --sf-text-small--height: var(--sf-text--height-1\/2);
  --sf-text-medium--height: var(--sf-text--height-1);
  --sf-text-large--height: var(--sf-text--height-2);
  --sf-heading--font-family: inherit;
  --sf-heading--font-weight: 600;
  --sf-heading--font-style: normal;
  --sf-heading-1--size: var(--sf-text--size-6);
  --sf-heading-2--size: var(--sf-text--size-5);
  --sf-heading-3--size: var(--sf-text--size-4);
  --sf-heading-4--size: var(--sf-text--size-3);
  --sf-heading-5--size: var(--sf-text--size-2);
  --sf-heading-6--size: var(--sf-text--size-1);
  --sf-heading-1--height: var(--sf-title--height-6);
  --sf-heading-2--height: var(--sf-title--height-5);
  --sf-heading-3--height: var(--sf-title--height-4);
  --sf-heading-4--height: var(--sf-title--height-3);
  --sf-heading-5--height: var(--sf-title--height-2);
  --sf-heading-6--height: var(--sf-title--height-1);
  --sf-display-1--size: var(--sf-text--size-12);
  --sf-display-2--size: var(--sf-text--size-11);
  --sf-display-3--size: var(--sf-text--size-10);
  --sf-display-4--size: var(--sf-text--size-9);
  --sf-display-5--size: var(--sf-text--size-8);
  --sf-display-6--size: var(--sf-text--size-7);
  --sf-display-1--height: var(--sf-title--height-12);
  --sf-display-2--height: var(--sf-title--height-11);
  --sf-display-3--height: var(--sf-title--height-10);
  --sf-display-4--height: var(--sf-title--height-9);
  --sf-display-5--height: var(--sf-title--height-8);
  --sf-display-6--height: var(--sf-title--height-7);
  --sf-text--space-bottom: var(--sf-space-1);
  --sf-heading--space-top: var(--sf-space-4);
  --sf-heading--space-bottom: var(--sf-space-1);
  --sf-text--family: "Inter", sans-serif;
  --sf-heading--family: "Inter", sans-serif;
  --sf-display--family: "Inter", sans-serif;
  --sf-text--size: var(--sf-text-medium--size);
  --sf-text--height: var(--sf-text-medium--height);
  --sf-text--family: inherit;
  --sf-text--weight: 400;
  --sf-heading--weight: 700;
  --sf-display--weight: 300;
  --sf-text--style: inherit;
  --sf-text--tracking: inherit;
  --sf-mark--color: var(--sf-warning-transparent-overlay);
  --sf-code--color: var(--sf-tertiary);
  --sf-code--background: var(--sf-tertiary-container);
  --sf-code--font-family: var(--sf-mono);
  --sf-code--radius: var(--sf-radius-1\/3);
  --sf-text--line-height-tight: 1.25;
  --sf-text--line-height-snug: 1.375;
  --sf-text--line-height-relaxed: 1.625;
  --sf-text--line-height-loose: 2;
  --sf-text--line-height-none: 1;
  --sf-text--line-height-normal: 1.5;
  --sf-text--font-weight-1: 100;
  --sf-text--font-weight-2: 200;
  --sf-text--font-weight-3: 300;
  --sf-text--font-weight-4: 400;
  --sf-text--font-weight-5: 500;
  --sf-text--font-weight-6: 600;
  --sf-text--font-weight-7: 700;
  --sf-text--font-weight-8: 800;
  --sf-text--font-weight-9: 900;
  --sf-text--tracking-tighter: -0.05em;
  --sf-text--tracking-tight: -0.025em;
  --sf-text--tracking-wide: 0.025em;
  --sf-text--tracking-wider: 0.05em;
  --sf-text--tracking-widest: 0.1em;
  --sf-text--tracking-no-tracking: 0em;
  --sf-text--measure: 65ch;
  --sf-text--measure-wide: 80ch;
  --sf-text--measure-narrow: 45ch;
  font-style: var(--sf-text--style);
  font-size: var(--sf-text--size);
  line-height: var(--sf-text--height);
  font-weight: var(--sf-text--weight);
  font-family: var(--sf-text--family);
  letter-spacing: var(--sf-text--tracking);
  text-decoration-color: var(--sf-outline); }
  @media (min-width: 960px) {
    :root {
      --sf-text--size-1\/7: var(--sf-a4);
      --sf-text--size-1\/6: var(--sf-a6);
      --sf-text--size-1\/5: var(--sf-a8);
      --sf-text--size-1\/4: var(--sf-b0);
      --sf-text--size-1\/3: var(--sf-b2);
      --sf-text--size-1\/2: var(--sf-b4);
      --sf-text--size-1: var(--sf-b6);
      --sf-text--size-2: var(--sf-c0);
      --sf-text--size-3: var(--sf-c2);
      --sf-text--size-4: var(--sf-c4);
      --sf-text--size-5: var(--sf-c6);
      --sf-text--size-6: var(--sf-c8);
      --sf-text--size-7: var(--sf-d0);
      --sf-text--size-8: var(--sf-d2);
      --sf-text--size-9: var(--sf-d4);
      --sf-text--size-10: var(--sf-d6);
      --sf-text--size-11: var(--sf-e0);
      --sf-text--size-12: var(--sf-e2); } }
  @media (min-width: 960px) {
    :root {
      --sf-text--height-1\/4: var(--sf-b2);
      --sf-text--height-1\/3: var(--sf-b6);
      --sf-text--height-1\/2: var(--sf-c0);
      --sf-text--height-1: var(--sf-c2);
      --sf-text--height-2: var(--sf-c4);
      --sf-text--height-3: var(--sf-c8);
      --sf-text--height-4: var(--sf-d0);
      --sf-text--height-5: var(--sf-d2);
      --sf-text--height-6: var(--sf-d3);
      --sf-text--height-7: var(--sf-d7);
      --sf-text--height-8: var(--sf-d8);
      --sf-text--height-9: var(--sf-e0);
      --sf-text--height-10: var(--sf-e2);
      --sf-text--height-11: var(--sf-e3);
      --sf-text--height-12: var(--sf-e5); } }
  @media (min-width: 960px) {
    :root {
      --sf-title--height-1: var(--sf-b6);
      --sf-title--height-2: var(--sf-c2);
      --sf-title--height-3: var(--sf-c4);
      --sf-title--height-4: var(--sf-c6);
      --sf-title--height-5: var(--sf-c8);
      --sf-title--height-6: var(--sf-d0);
      --sf-title--height-7: var(--sf-d2);
      --sf-title--height-8: var(--sf-d4);
      --sf-title--height-9: var(--sf-d6);
      --sf-title--height-10: var(--sf-d9);
      --sf-title--height-11: var(--sf-e0);
      --sf-title--height-12: var(--sf-e2); } }

p, table, ol, ul, q, blockquote {
  margin-bottom: var(--sf-text--space-bottom); }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: var(--sf-heading--space-bottom); }

h2, h3, h4, h5, h6 {
  margin-top: var(--sf-heading--space-top); }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
  font-family: var(--sf-heading--family);
  font-weight: var(--sf-heading--weight); }

.d1, .d2, .d3, .d4, .d5, .d6,
.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
  font-family: var(--sf-display--family);
  font-weight: var(--sf-display--weight); }

.label-small {
  font-size: var(--sf-label-small--size);
  line-height: var(--sf-label-small--height); }

.label, .label-medium {
  font-size: var(--sf-label-medium--size);
  line-height: var(--sf-label-medium--height); }

.label-large {
  font-size: var(--sf-label-large--size);
  line-height: var(--sf-label-large--height); }

.text-small {
  font-size: var(--sf-text-small--size);
  line-height: var(--sf-text-small--height); }

.text, .text-medium {
  font-size: var(--sf-text-medium--size);
  line-height: var(--sf-text-medium--height); }

.text-large {
  font-size: var(--sf-text-large--size);
  line-height: var(--sf-text-large--height); }

h1, .h1, .heading-1 {
  font-size: var(--sf-heading-1--size);
  line-height: var(--sf-heading-1--height); }

h2, .h2, .heading-2 {
  font-size: var(--sf-heading-2--size);
  line-height: var(--sf-heading-2--height); }

h3, .h3, .heading-3 {
  font-size: var(--sf-heading-3--size);
  line-height: var(--sf-heading-3--height); }

h4, .h4, .heading-4 {
  font-size: var(--sf-heading-4--size);
  line-height: var(--sf-heading-4--height); }

h5, .h5, .heading-5 {
  font-size: var(--sf-heading-5--size);
  line-height: var(--sf-heading-5--height); }

h6, .h6, .heading-6 {
  font-size: var(--sf-heading-6--size);
  line-height: var(--sf-heading-6--height); }

.d1, .display-1 {
  font-size: var(--sf-display-1--size);
  line-height: var(--sf-display-1--height); }

.d2, .display-2 {
  font-size: var(--sf-display-2--size);
  line-height: var(--sf-display-2--height); }

.d3, .display-3 {
  font-size: var(--sf-display-3--size);
  line-height: var(--sf-display-3--height); }

.d4, .display-4 {
  font-size: var(--sf-display-4--size);
  line-height: var(--sf-display-4--height); }

.d5, .display-5 {
  font-size: var(--sf-display-5--size);
  line-height: var(--sf-display-5--height); }

.d6, .display-6 {
  font-size: var(--sf-display-6--size);
  line-height: var(--sf-display-6--height); }

ul {
  display: block;
  list-style-type: disc;
  list-style-position: outside;
  margin-block-start: var(--sf-text--size-2);
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: var(--sf-text--size-2); }

code {
  font-weight: var(--sf-text--weight-regular);
  color: var(--sf-color--text-primary); }

:root {
  --sf-link--underline-weight: var(--sf-px);
  --sf-link--underline-dotted: var(--sf-a3);
  --sf-link--underline-dashed: var(--sf-a6); }

a {
  color: var(--sf-link);
  text-decoration-color: var(--sf-link);
  text-decoration-thickness: var(--sf-px); }
  a:hover {
    color: var(--sf-link-hover);
    text-decoration-color: var(--sf-link-hover); }
  a:active {
    color: var(--sf-link-active);
    text-decoration-color: var(--sf-link-active); }
  a:visited {
    color: var(--sf-link-visited);
    text-decoration-color: var(--sf-link-visited); }

a:not([class]),
a[class*=link-],
[class*=link-] ~ a {
  color: var(--sf-link);
  outline: none;
  text-decoration-color: var(--sf-link);
  text-underline-offset: var(--sf-a3); }
  a:not([class]):hover,
  a[class*=link-]:hover,
  [class*=link-] ~ a:hover {
    text-decoration-color: var(--sf-link-hover);
    color: var(--sf-link-hover); }
  a:not([class]):active,
  a[class*=link-]:active,
  [class*=link-] ~ a:active {
    text-decoration-color: var(--sf-link-active);
    color: var(--sf-link-active); }
  a:not([class]):visited,
  a[class*=link-]:visited,
  [class*=link-] ~ a:visited {
    text-decoration-color: var(--sf-link-visited);
    color: var(--sf-link-visited); }

a.link-inherit,
.link-inherit a,
a.link-inherit-link,
.link-inherit-link a {
  text-decoration-color: currentColor;
  color: var(--sf-current); }

a.link-inherit-link:hover,
.link-inherit-link a:hover {
  text-decoration-color: currentColor;
  color: var(--sf-current); }

a.link-underline-none,
.link-underline-none a,
a.link-underline-none:hover,
.link-underline-none a:hover {
  text-decoration-line: none; }

a.link-dotted,
.link-dotted a {
  text-decoration-style: dotted; }

a.link-dashed,
.link-dashed a {
  text-decoration-style: dashed; }

:root {
  --sf-space-0: var(--sf-0);
  --sf-space-1\/4: var(--sf-a4);
  --sf-space-1\/3: var(--sf-a8);
  --sf-space-1\/2: var(--sf-a8);
  --sf-space-1: var(--sf-b2);
  --sf-space-2: var(--sf-b6);
  --sf-space-3: var(--sf-b6);
  --sf-space-4: var(--sf-c2);
  --sf-space-5: var(--sf-c6);
  --sf-space-6: var(--sf-c6);
  --sf-space-7: var(--sf-d0);
  --sf-space-8: var(--sf-d2); }
  @media (min-width: 960px) {
    :root {
      --sf-space-0: var(--sf-0);
      --sf-space-1\/4: var(--sf-a4);
      --sf-space-1\/3: var(--sf-a8);
      --sf-space-1\/2: var(--sf-b2);
      --sf-space-1: var(--sf-b6);
      --sf-space-2: var(--sf-c0);
      --sf-space-3: var(--sf-c2);
      --sf-space-4: var(--sf-c6);
      --sf-space-5: var(--sf-d0);
      --sf-space-6: var(--sf-d2);
      --sf-space-7: var(--sf-d6);
      --sf-space-8: var(--sf-e0); } }

@media (min-width: 540px) {
  :root {
    --sf-breakpoint-sm: var(--sf-g8); } }

@media (min-width: 720px) {
  :root {
    --sf-breakpoint-md: var(--sf-h2); } }

@media (min-width: 960px) {
  :root {
    --sf-breakpoint-lg: var(--sf-h5); } }

@media (min-width: 1140px) {
  :root {
    --sf-breakpoint-xl: var(--sf-h8); } }

@media (min-width: 1320px) {
  :root {
    --sf-breakpoint-xxl: var(--sf-i2); } }

:root {
  --sf-transition--property: all;
  --sf-transition--duration: 300ms;
  --sf-transition--timing-function: ease-in;
  --sf-transition--delay: 0ms;
  --sf-duration-fast: 0.1S;
  --sf-duration-normal: 0.3S;
  --sf-duration-slow: 0.5S;
  --sf-animation: cubic-bezier(.25,.8,.25,1); }

.sf-loader.loader-default {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 1;
  z-index: 1000;
  background-color: var(--sf-color--surface-highest);
  text-align: center; }

.sf-loader.hidden {
  display: none; }

.sf-loader-inner {
  position: absolute;
  left: 50vw;
  top: 50vh; }

.circle1 {
  animation: bounce linear 2.2s infinite forwards;
  animation-delay: 0; }

.circle2 {
  animation: bounce linear 2.2s infinite forwards;
  animation-delay: 125ms; }

.circle3 {
  animation: bounce linear 2.2s infinite forwards;
  animation-delay: 250ms; }

.circle4 {
  animation: bounce linear 2.2s infinite forwards;
  animation-delay: 0.375s; }

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); }
  20%, 50% {
    transform: translateY(9px); }
  80% {
    transform: translateY(2px); }
  40% {
    transform: translateY(-15px); }
  60% {
    transform: translateY(-7px); } }

:root {
  --sf-shadow--level-ratio: 1;
  --sf-shadow--alfa-fill: 24%;
  --sf-shadow--alfa-outline: 12%;
  --sf-shadow--alfa-shade: 8%;
  --sf-shadow--color: #000;
  --sf-shadow--color-fill: color-mix(in srgb, var(--sf-transparent), var(--sf-shadow--color) var(--sf-shadow--alfa-fill));
  --sf-shadow--color-outline: color-mix(in srgb, var(--sf-transparent), var(--sf-shadow--color) var(--sf-shadow--alfa-outline));
  --sf-shadow--color-shade: color-mix(in srgb, var(--sf-transparent), var(--sf-shadow--color) var(--sf-shadow--alfa-shade)); }

[class*="shadow"] {
  box-shadow: 0px calc(var(--sf-a2) * var(--sf-shadow--level-ratio)) calc(var(--sf-a2) * var(--sf-shadow--level-ratio)) calc(-1 * var(--sf-a1) * var(--sf-shadow--level-ratio)) var(--sf-shadow--color-fill), 0px calc(var(--sf-a1) * var(--sf-shadow--level-ratio)) calc(var(--sf-a3) * var(--sf-shadow--level-ratio)) 0px var(--sf-shadow--color-outline), 0px calc(var(--sf-a2) * var(--sf-shadow--level-ratio)) calc(var(--sf-a4) * var(--sf-shadow--level-ratio)) calc(var(--sf-a1) * var(--sf-shadow--level-ratio)) var(--sf-shadow--color-shade); }

[class*="drop-shadow"] {
  box-shadow: none;
  filter: drop-shadow(0px calc(var(--sf-a1) * var(--sf-shadow--level-ratio)) calc(var(--sf-a1) * var(--sf-shadow--level-ratio)) var(--sf-shadow--color-fill)) drop-shadow(0px calc(var(--sf-a1) * var(--sf-shadow--level-ratio)) calc(var(--sf-a3) * var(--sf-shadow--level-ratio)) var(--sf-shadow--color-outline)) drop-shadow(0px calc(var(--sf-a2) * var(--sf-shadow--level-ratio)) calc(var(--sf-a4) * var(--sf-shadow--level-ratio)) var(--sf-shadow--color-shade)); }

:root {
  --sf-radius-0: var(--sf-0);
  --sf-radius-1\/3: var(--sf-a2);
  --sf-radius-1\/2: var(--sf-a6);
  --sf-radius-1: var(--sf-a8);
  --sf-radius-2: var(--sf-b6);
  --sf-radius-3: var(--sf-c6);
  --sf-radius-round: 9999px;
  --sf-radius-full: 100%;
  --sf-border--width: 0;
  --sf-border--style: solid;
  --sf-border--color: var(--sf-transparent);
  border: var(--sf-border--width) var(--sf-border--style) var(--sf-border--color);
  border-color: var(--sf-outline-variant);
  --sf-focus--offset: var(--sf-a0);
  --sf-focus--style: solid;
  --sf-focus--width: var(--sf-a4); }
  @media (min-width: 960px) {
    :root {
      --sf-radius-0: var(--sf-0);
      --sf-radius-1\/3: var(--sf-a2);
      --sf-radius-1\/2: var(--sf-a6);
      --sf-radius-1: var(--sf-a8);
      --sf-radius-2: var(--sf-b6);
      --sf-radius-3: var(--sf-c6);
      --sf-radius-round: 9999px;
      --sf-radius-full: 100%; } }

:focus {
  outline-color: var(--sf-focus-color);
  outline-offset: var(--sf-focus-offset);
  outline-style: var(--sf-focus-style);
  outline-width: var(--sf-focus-width); }

.border {
  border: var(--sf-a1) var(--sf-outline-variant) solid; }

.border-none {
  border: var(--sf-a1) var(--sf-transparent) solid; }

.divider > :not([hidden]) ~ :not([hidden]) {
  border: var(--sf-px) var(--sf-outline-variant) solid; }

.divider-none > :not([hidden]) ~ :not([hidden]) {
  border-width: var(--sf-0); }

.outline {
  outline: var(--sf-px) var(--sf-outline-variant) solid; }

.outline-none {
  outline-width: var(--sf-0); }

@media (min-width: 540px) {
  .sm\:border {
    border: var(--sf-a1) var(--sf-outline-variant) solid; }
  .sm\:border-none {
    border: var(--sf-a1) var(--sf-transparent) solid; } }

@media (min-width: 720px) {
  .md\:border {
    border: var(--sf-a1) var(--sf-outline-variant) solid; }
  .md\:border-none {
    border: var(--sf-a1) var(--sf-transparent) solid; } }

@media (min-width: 960px) {
  .lg\:border {
    border: var(--sf-a1) var(--sf-outline-variant) solid; }
  .lg\:border-none {
    border: var(--sf-a1) var(--sf-transparent) solid; } }

@media (min-width: 1140px) {
  .xl\:border {
    border: var(--sf-a1) var(--sf-outline-variant) solid; }
  .xl\:border-none {
    border: var(--sf-a1) var(--sf-transparent) solid; } }

.hover\:border:hover {
  border: var(--sf-a1) var(--sf-outline-variant) solid; }

.hvoer\:border-none:hover {
  border: var(--sf-a1) var(--sf-transparent) solid; }

:root {
  --sf-blur-small: var(--sf-a2);
  --sf-blur-medium: var(--sf-a4);
  --sf-blur-large: var(--sf-a8);
  --sf-blur-none: var(--sf-0); }

