<section class="w-full p-top-d3 p-bottom-d3 m-bottom-d3 lg:p-top-d7 lg:p-bottom-d7 lg:m-bottom-d7">
    <div class="container m-right-auto m-left-auto p-right-b7 p-left-b7">
        <% if(data) { %>
        <div class="w-full">
            <h2 class="text-3 m-top-0 m-bottom-8 text-left bold"><%= data.title %></h2>
        </div>
        <div class="w-full grid grid-col-1 gap-4">
            <% for ( let key in data.blocks ) { %>
            <div class="invest-rb--service-work w-full flex flex-col bg-white shadow-secondary radius-3 p-6">
                <div data-accordion="<%= key %>"
                     class="service-work--check w-full color-secondary transition hover:color-black text-c1 cursor-pointer grow cl--accordion-button">
                    <div class="invest-rb-s w-full flex items-cross-center">
                        <span class="min-w-c2 max-w-c2 max-h-c2 h-c2 w-c2 m-0 radius-3 appearance-none transition border-0 bg-EFF5F9 checked:bg-gradient-primary hover:bg-gradient-primary"></span>
                        <h3 class="weight-5 cursor-pointer text-1 md:text-2 line-1 md:line-2 m-top-0 m-bottom-0 p-left-6 grow">
                            <%= data.blocks[key].title %></h3>
                    </div>
                </div>
                <div data-accordion="<%= key %>" class="cl--accordion-block">
                    <div class="service-work--item w-full p-top-6 p-left-0 md:p-left-d4 text-1/2 md:text-1 color-secondary line-1 md:line-2">
                        <%= data.blocks[key].content %>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <% } %>
    </div>
    <smart nodata
           name="ajax"
           sf-code="ajax">
    </smart>
</section>