@charset "UTF-8";
/*
            * Main SCSS file for including styles for component.
            * 
            * Imports:
            * - Styling variables (_var__component_name.scss)
            * - Base styles (_css__component_name.scss)
            * 
            */
/*
            * _var__component_name.scss
            * 
            * SCSS file containing variables for component styling.
            * 
            * Used to define default parameters (color, size, etc.)
            * that can be overridden in other parts of the project.
            * 
            * Example usage:
            * --sf-icon--fill: 0; // Fill for icon
            */
/* Стили для табов */
.sf-tab {
  --sf-tab--background-color: var(--sf-primary-95);
  --sf-tab--color: var(--sf-on-primary-container);
  --sf-tab--height: var(--sf-d0);
  --sf-tab--width: var(--sf-e3);
  --sf-tab--padding: var(--sf-a8);
  --sf-tab-icon--font-size: var(--sf-text--height-1\/2);
  --sf-tab-icon--color: var(--sf-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  /* Вертикальное выравнивание */
  /*flex: 1;*/
  gap: var(--sf-a8);
  text-align: center;
  background-color: var(--sf-tab--background-color);
  color: var(--sf-tab--color);
  max-width: var(--sf-tab--width);
  max-height: var(--sf-tab--height);
  /*padding: var(--sf-tab--padding);*/
  border-radius: var(--sf-a4);
  cursor: pointer;
  /*crosses in tabs*/
  /*transparent classes*/ }
  .sf-tab--number {
    --sf-tab-number--font-size: var(--sf-text--size-1\/2);
    --sf-tab-number--line-height: var(--sf-text--height-1);
    --sf-tab-number--max-height: var(--sf-c2);
    --sf-tab-number--color: var(--sf-on-primary);
    --sf-tab-number--background-color: var(--sf-primary);
    max-height: var(--sf-tab-number--max-height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sf-tab-number--background-color);
    border-radius: 50%;
    color: var(--sf-tab-number--color);
    font-size: var(--sf-tab-number--font-size);
    padding: var(--sf-a4);
    line-height: var(--sf-tab-number--line-height);
    width: var(--sf-tab-number--max-height); }
  .sf-tab--text {
    --sf-tab-text--size: var(--sf-text--size-1);
    --sf-tab-text--line-height: var(--sf-text--height-1);
    --sf-tab-text--padding: var(--sf-a4);
    --sf-tab--text: var(--sf-on-primary-container);
    font-size: var(--sf-tab-text--size);
    line-height: var(--sf-tab-text--line-height);
    color: var(--sf-tab--text);
    padding: var(--sf-tab-text--padding); }
  .sf-tab--1\/3 {
    --sf-tab--height: var(--sf-c4);
    --sf-tab--width: var(--sf-d9); }
    .sf-tab--1\/3 .sf-tab--text {
      --sf-tab-text--size: var(--sf-text--size-1\/3);
      --sf-tab-text--line-height: var(--sf-text--height-1\/3);
      color: var(--sf-on-primary-container); }
    .sf-tab--1\/3 .sf-tab--number {
      --sf-tab-number--font-size: var(--sf-text--size-1\/4);
      --sf-tab-number--line-height: var(--sf-text--height-1\/3);
      --sf-tab-number--max-height: var(--sf-b6); }
    .sf-tab--1\/3 .icon {
      --sf-tab-icon--font-size: var(--sf-text--height-1\/3);
      --sf-tab-icon--color: var(--sf-primary); }
  .sf-tab--1\/2 {
    --sf-tab--height: var(--sf-c6);
    --sf-tab--width: var(--sf-e1); }
    .sf-tab--1\/2 .sf-tab--text {
      --sf-tab-text--size: var(--sf-b2);
      --sf-tab-text--line-height: var(--sf-text--height-1\/2);
      color: var(--sf-on-primary-container); }
    .sf-tab--1\/2 .sf-tab--number {
      --sf-tab-number--font-size: var(--sf-text--size-1\/3);
      --sf-tab-number--line-height: var(--sf-text--height-1\/2);
      --sf-tab-number--max-height: var(--sf-c0); }
    .sf-tab--1\/2 .icon {
      --sf-tab-icon--font-size: var(--sf-text--height-1\/2);
      --sf-tab-icon--color: var(--sf-primary); }
  .sf-tab--2 {
    --sf-tab--height: var(--sf-d2);
    --sf-tab--width: var(--sf-e6);
    --sf-tab--padding: var(--sf-b0); }
    .sf-tab--2 .sf-tab--text {
      --sf-tab-text--size: var(--sf-text--size-2);
      --sf-tab-text--line-height: var(--sf-text--height-2);
      --sf-tab-text--padding: var(--sf-b0);
      color: var(--sf-on-primary-container); }
    .sf-tab--2 .sf-tab--number {
      --sf-tab-number--font-size: var(--sf-text--size-1);
      --sf-tab-number--line-height: var(--sf-text--height-2);
      --sf-tab-number--max-height: var(--sf-c4); }
    .sf-tab--2 .icon {
      --sf-tab-icon--font-size: var(--sf-text--height-2);
      --sf-tab-icon--color: var(--sf-primary); }
  .sf-tab--3 {
    --sf-tab--height: var(--sf-d8);
    --sf-tab--width: var(--sf-e9);
    --sf-tab--padding: var(--sf-b0); }
    .sf-tab--3 .sf-tab--text {
      --sf-tab-text--size: var(--sf-text--size-3);
      --sf-tab-text--line-height: var(--sf-text--height-3);
      --sf-tab-text--padding: var(--sf-b0);
      color: var(--sf-on-primary-container); }
    .sf-tab--3 .sf-tab--number {
      --sf-tab-number--font-size: var(--sf-text--size-2);
      --sf-tab-number--line-height: var(--sf-text--height-3);
      --sf-tab-number--max-height: var(--sf-c8); }
    .sf-tab--3 .icon {
      --sf-tab-icon--font-size: var(--sf-text--height-3);
      --sf-tab-icon--color: var(--sf-primary); }
  .sf-tab .icon {
    font-size: var(--sf-tab-icon--font-size);
    color: var(--sf-tab-icon--color); }
  .sf-tab.transparent {
    --sf-tab--background-color: unset;
    --sf-tab-trasparent--border-color: var(--sf-outline-variant);
    border-bottom: var(--sf-a1) solid var(--sf-tab-trasparent--border-color);
    border-radius: unset; }
    .sf-tab.transparent:hover {
      --sf-tab--background-color: var(--sf-primary-transparent-hover);
      --sf-tab-trasparent--border-color: var(--sf-outline-primary); }
    .sf-tab.transparent:active {
      --sf-tab-trasparent--border-color: var(--sf-outline-primary); }
    .sf-tab.transparent:focus {
      box-shadow: 0px 0px 1px 5px var(--sf-focus--color);
      outline: none; }
    .sf-tab.transparent:disabled {
      --sf-tab--background-color: none; }
      .sf-tab.transparent:disabled .sf-tab--text {
        color: var(--sf-on-disable); }
      .sf-tab.transparent:disabled .icon {
        color: var(--sf-on-disable); }
  .sf-tab:hover {
    --sf-tab--background-color: var(--sf-primary-container-hover);
    --sf-tab--color: var(--sf-on-primary-container-hover); }
  .sf-tab:active {
    --sf-tab--background-color: var(--sf-primary-container-active);
    --sf-tab--color: var(--sf-on-primary-container-active); }
  .sf-tab:focus {
    --sf-tab-trasparent--border-color: var(--sf-outline-primary); }
  .sf-tab:disabled {
    --sf-tab--background-color: var(--sf-disable);
    --sf-tab--color: var(--sf-on-disable);
    --sf-tab--text: var(--sf-on-disable); }
    .sf-tab:disabled .sf-tab--text {
      --sf-tab--text: var(--sf-on-disable); }
    .sf-tab:disabled .sf-tab--number {
      --sf-tab--text: var(--sf-on-disable);
      --sf-tab-number--background-color: var(--sf-disable);
      --sf-tab-number--color: var(--sf-on-disable); }

/*events*/

