/*
            * Main SCSS file for including styles for component.
            * 
            * Imports:
            * - Styling variables (_var__component_name.scss)
            * - Base styles (_css__component_name.scss)
            * 
            */
/*
            * _var__component_name.scss
            * 
            * SCSS file containing variables for component styling.
            * 
            * Used to define default parameters (color, size, etc.)
            * that can be overridden in other parts of the project.
            * 
            * Example usage:
            * --sf-icon--fill: 0; // Fill for icon
            */
.sf-badge {
  --sf-badge--background-color: var(--sf-on-surface-variant);
  --sf-badge--color: var(--sf-surface-0);
  --sf-badge--font-size: var(--sf-text--size-1\/3);
  --sf-badge--border-color: none;
  --sf-badge--border-width: 0px;
  --sf-badge--border-style: none;
  --sf-badge--max-height: var(--sf-c2);
  --sf-badge--icon-font-size: var(--sf-text--size-2);
  background-color: var(--sf-badge--background-color);
  color: var(--sf-badge--color);
  align-items: center;
  justify-content: center;
  font-weight: var(--sf-text--font-weight-5);
  border-radius: var(--sf-b4);
  display: inline-flex;
  padding: var(--sf-a2);
  width: -webkit-fit-content;
  width: fit-content;
  font-size: var(--sf-badge--font-size);
  max-height: var(--sf-badge--max-height);
  border: var(--sf-badge--border-width) var(--sf-badge--border-style) var(--sf-badge--border-color);
  cursor: pointer;
  /*states*/ }
  .sf-badge i {
    color: inherit;
    padding: var(--sf-a2);
    font-size: var(--sf-badge--icon-font-size); }
  .sf-badge span {
    font-size: inherit;
    padding-top: var(--sf-a2);
    padding-bottom: var(--sf-a2); }
  .sf-badge--1\/2 {
    --sf-badge--font-size: var(--sf-text--size-1\/4);
    --sf-badge--max-height: var(--sf-c0);
    --sf-badge--icon-font-size: var(--sf-text--size-1); }
  .sf-badge {
    --sf-badge--font-size: var(--sf-text--size-1\/2); }
  .sf-badge--2 {
    --sf-badge--font-size: var(--sf-text--size-1);
    --sf-badge--max-height: var(--sf-c4);
    --sf-badge--icon-font-size: var(--sf-text--size-3); }
  .sf-badge--light-grey {
    --sf-badge--background-color: var(--sf-surface-3);
    --sf-badge--color: var(--sf-on-surface); }
  .sf-badge--transparent-surface {
    --sf-badge--background-color: transparent;
    --sf-badge--color: var(--sf-on-surface);
    --sf-badge--border-width: var(--sf-a1);
    --sf-badge--border-style: solid;
    --sf-badge--border-color: var(--sf-on-surface); }
  .sf-badge--primary {
    --sf-badge--background-color: var(--sf-primary);
    --sf-badge--color: var(--sf-surface-0); }
  .sf-badge--light-primary {
    --sf-badge--background-color: var(--sf-primary-container);
    --sf-badge--color: var(--sf-on-primary-container); }
  .sf-badge--transparent-primary {
    --sf-badge--background-color: transparent;
    --sf-badge--color: var(--sf-primary);
    --sf-badge--border-width: var(--sf-a1);
    --sf-badge--border-style: solid;
    --sf-badge--border-color: var(--sf-primary); }
  .sf-badge--secondary {
    --sf-badge--background-color: var(--sf-secondary);
    --sf-badge--color: var(--sf-surface-0); }
  .sf-badge--light-secondary {
    --sf-badge--background-color: var(--sf-secondary-container);
    --sf-badge--color: var(--sf-on-secondary-container); }
  .sf-badge--transparent-secondary {
    --sf-badge--background-color: transparent;
    --sf-badge--color: var(--sf-secondary);
    --sf-badge--border-width: var(--sf-a1);
    --sf-badge--border-style: solid;
    --sf-badge--border-color: var(--sf-secondary); }
  .sf-badge--tertiary {
    --sf-badge--background-color: var(--sf-tertiary);
    --sf-badge--color: var(--sf-surface-0); }
  .sf-badge--light-tertiary {
    --sf-badge--background-color: var(--sf-tertiary-container);
    --sf-badge--color: var(--sf-on-tertiary-container); }
  .sf-badge--transparent-tertiary {
    --sf-badge--background-color: transparent;
    --sf-badge--color: var(--sf-tertiary);
    --sf-badge--border-width: var(--sf-a1);
    --sf-badge--border-style: solid;
    --sf-badge--border-color: var(--sf-tertiary); }
  .sf-badge--on-surface {
    --sf-badge--background-color: var(--sf-on-surface);
    --sf-badge--color: var(--sf-surface-0); }
  .sf-badge--transparent-on-surface {
    --sf-badge--background-color: transparent;
    --sf-badge--color: var(--sf-on-surface);
    --sf-badge--border-width: var(--sf-a1);
    --sf-badge--border-style: solid;
    --sf-badge--border-color: var(--sf-on-surface); }
  .sf-badge:hover {
    opacity: calc(0.92); }
  .sf-badge:focus {
    opacity: calc(0.9); }
  .sf-badge:click {
    opacity: calc(0.9); }

