<div class="flex row items-main-start m-bottom-2">
    <% if(data) { %>
    <smart
            name="search"
            sf-code="search"
            template="key_words"
            templateUrl="/simai/templates/"
            data='{"title":"Ищите по ключевым словам","value":"<%=data.searchString %>","name":"search" <%= data.link %>}'></smart>
    <div class="t-left text-1 col">
        <p class="text-1 m-bottom-0">Ищите по хэштегам: </p>
        <% for(let k in data.tags) { %>
        <noindex>
            <div class="t-left text-2">
                    <span class="t-bold p-right-3"><a href="<%= data.tags[k]['TAG_PATH'] %>"
                                                      rel="nofollow"><%= data.tags[k]["TAG_NAME"] %></a>
            </span>
                <a href="<%= data.tags[k].TAG_WITHOUT %>" rel="nofollow" class="relative inline-block weight-4
                    center
                    wrap-none
                    textext-middle border-1 radius-2 border-transparent transition-all-1 select-none cursor-pointer
                    p-top-1
                    p-bottom-1 p-right-2 p-left-2 text-1 string-normal bg-primary border-danger color-white
                    hover:bg-red-2
                    link-underline-none m-bottom-2">Сбросить</a>
            </div>
        </noindex>
        <% } %>
    </div>
    <% if(data.search) { %>
    <noindex>
        <div class="search-tags-cloud">
            <% for (let k in data.search) { %>
            <a href="<%= data['SEARCH'][k].URL %>" style="font-size: <%= data['SEARCH'][k].FONT_SIZE%>px; color: # <%=
        data['SEARCH'][k].COLOR %>"
               rel="nofollow"><%=data['SEARCH'][k]["NAME"]%></a>
            <% } %>
        </div>
    </noindex>
    <% } %>
    <% } %>
    <smart
            name="search"
            sf-code="search"
            template="key_words"
            templateUrl="/simai/templates/"
            data='{"title":"Ищите по ключевым словам","name":"tags"<%= data.tag %>}'></smart>
</div>