@charset "UTF-8";
/*
            * Main SCSS file for including styles for component.
            * 
            * Imports:
            * - Styling variables (_var__component_name.scss)
            * - Base styles (_css__component_name.scss)
            * 
            */
/*
            * _var__component_name.scss
            * 
            * SCSS file containing variables for component styling.
            * 
            * Used to define default parameters (color, size, etc.)
            * that can be overridden in other parts of the project.
            * 
            * Example usage:
            * --sf-icon--fill: 0; // Fill for icon
            */
.slider-handle {
  --sf-slider-handle--background-color: var(--sf-primary);
  --sf-slider-handle--diameter: var(--sf-c2);
  --sf-slider-handle--border-width: var(--sf-a5);
  width: var(--sf-slider-handle--diameter);
  height: var(--sf-slider-handle--diameter);
  border-radius: 50%;
  border: var(--sf-slider-handle--border-width) solid var(--sf-slider-handle--background-color);
  margin: auto; }

.slider-handle:hover {
  --sf-slider-handle--border-width: var(--sf-a3); }

.slider-handle-container {
  display: grid;
  grid-gap: var(--sf-a5);
  gap: var(--sf-a5);
  max-width: var(--sf-d2); }

.slider-note {
  padding-left: var(--sf-b2);
  padding-right: var(--sf-b2); }

.slider-note-background {
  padding: var(--sf-a8);
  padding-left: var(--sf-b2);
  padding-right: var(--sf-b2);
  border-radius: var(--sf-a3); }

.sf-slider {
  position: relative; }

.sf-slider input[type="range"] {
  position: absolute;
  width: 100%;
  pointer-events: none;
  -webkit-appearance: none;
          appearance: none;
  background: none;
  z-index: 2; }

.sf-slider input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  -webkit-appearance: none;
          appearance: none; }

.sf-slider input[type="range"]::-moz-range-thumb {
  pointer-events: all; }

.sf-slider input[type="range"]:focus {
  outline: none; }

.sf-slider {
  display: flex;
  align-items: center;
  max-width: 400px;
  height: 50px;
  margin: 20px; }

.sf-slider input[type="range"]::-webkit-slider-thumb {
  --sf-slider-handle--background-color: var(--sf-primary);
  --sf-slider-handle--diameter: var(--sf-c2);
  --sf-slider-handle--border-width: var(--sf-a5);
  background-color: white;
  width: var(--sf-slider-handle--diameter);
  height: var(--sf-slider-handle--diameter);
  border-radius: 50%;
  border: var(--sf-slider-handle--border-width) solid var(--sf-slider-handle--background-color);
  margin-top: -8px;
  z-index: 3; }

.sf-slider input[type="range"]::-moz-range-thumb {
  --sf-slider-handle--background-color: var(--sf-primary);
  --sf-slider-handle--diameter: var(--sf-c2);
  --sf-slider-handle--border-width: var(--sf-a5);
  width: var(--sf-slider-handle--diameter);
  height: var(--sf-slider-handle--diameter);
  border-radius: 50%;
  border: var(--sf-slider-handle--border-width) solid var(--sf-slider-handle--background-color);
  background-color: white;
  z-index: 3; }

.sf-slider input[type="range"]::-webkit-slider-thumb:hover {
  --sf-slider-handle--border-width: var(--sf-a3); }

.sf-slider input[type="range"]::-webkit-slider-thumb::after {
  content: "0%"; }

.sf-slider input[type="range"]::-webkit-slider-thumb:focus {
  --sf-slider-handle--border-width: var(--sf-a2);
  --sf-slider-handle--diameter: var(--sf-c6); }

.sf-slider input[type="range"]::-webkit-slider-runnable-track {
  height: 6px; }

.sf-slider input[type="range"]::-moz-range-track {
  height: 6px; }

.track {
  position: absolute;
  height: 8px;
  background: #ddd;
  /* Цвет фона трека */
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  /* Трек должен быть ниже ползунков */ }

.track::before {
  content: '';
  position: absolute;
  height: 100%;
  background-color: var(--sf-primary);
  /* Цвет закрашенной области */
  left: var(--left, 20%);
  right: calc(100% - var(--right, 80%)); }

.slider-value {
  position: absolute;
  top: 40px;
  /* Отступ от ползунка */
  font-size: 14px;
  color: #000;
  transform: translateX(-50%);
  /* Центрируем текст под ползунком */ }

.slider-1-value {
  left: 20%;
  /* Начальное положение для первого ползунка */ }

.slider-2-value {
  left: 80%;
  /* Начальное положение для второго ползунка */ }

.sf-slider.slider-border .slider-value {
  padding: var(--sf-a8);
  padding-left: var(--sf-b2);
  padding-right: var(--sf-b2);
  border-radius: var(--sf-a3);
  box-shadow: 0px calc(var(--sf-a2) * var(--sf-shadow--level-ratio)) calc(var(--sf-a2) * var(--sf-shadow--level-ratio)) calc(-1 * var(--sf-a1) * var(--sf-shadow--level-ratio)) var(--sf-shadow--color-fill), 0px calc(var(--sf-a1) * var(--sf-shadow--level-ratio)) calc(var(--sf-a3) * var(--sf-shadow--level-ratio)) 0px var(--sf-shadow--color-outline), 0px calc(var(--sf-a2) * var(--sf-shadow--level-ratio)) calc(var(--sf-a4) * var(--sf-shadow--level-ratio)) calc(var(--sf-a1) * var(--sf-shadow--level-ratio)) var(--sf-shadow--color-shade); }

