<section class="sf-iblock-card-area lazyload sf-viewbox-wrap <%=data.THEME%> <%=data.MODIFIER_SECTION_AREA%>">
    <% console.log(data) %>
    <%if(data.BACKGROUND_IMAGE && data.FULLWIDTH_MODE ==="Y") {%>
    <div class="sf-viewbox lazyload" data-bg="<%=data.BACKGROUND_IMAGE%>"
         style="<%=data.BACKGROUND_IMAGE_STYLE%>"></div>
    <% } %>

    <% if(data["MASK_COLOR"] && data["MASK_COLOR"] != "none" && data["FULLWIDTH_MODE"]==="Y") {%>
    <div class="sf-viewbox <%=data.MASK_COLOR%> <%=data.MASK_COLOR_OPACITY%>"></div>
    <% } %>

    <% if(data.MASK_PATTERN && data.FULLWIDTH_MODE==="Y") {%>
    <div class="sf-viewbox <%=data.MASK_PATTERN%> <%= data.MASK_PATTERN_OPACITY %>"></div>
    <% } %>


    <div class="sf-viewbox relative">
        <% if(data.FULLWIDTH_MODE=="Y") { %>
        <div class="container <%=data.MODIFIER_CONTAINER%>">
            <% } %>

            <% if(data.SHOW_SECTION_TITLE==="Y" && data.SECTION_NAME) {%>
            <div class="<%=data.MODIFIER_SECTION_TITLE_AREA%>">
                <h2 class="<%=data.MODIFIER_SECTION_TITLE%>">
                    <% if(data.ADD_LINK_TO_SECTION_TITLE==="Y") { %>
                    <a href="<%= data.site_dir %><%=data.SECTION_LINK_URL%>">
                        <%= data.SECTION_NAME%>
                    </a>
                    <% } else { %>
                    <%= data.SECTION_NAME %>
                    <% } %>
                </h2>
                <% if(data.SHOW_SECTION_LINK==="Y" && data.SECTION_LINK_TEXT) { %>
                <div class="<%=data.MODIFIER_SECTION_LINK_AREA%>">
                    <i class="<%=data.MODIFIER_SECTION_ICON%>" aria-hidden="true"></i><a
                        href="<%=data.site_dir%><%=data.SECTION_LINK_URL %>"
                        class="<%=data.MODIFIER_SECTION_LINK%>"><%=data.SECTION_LINK_TEXT%></a>
                </div>
                <% } %>
            </div>
            <% } %>
            <% if (data.DISPLAY_TYPE == "slider") { %>
            <div class="swiper-container info-swiper" id="slider-<%= data.SWIPER_SALT %>">
                <% } %>

                <div class="<%= data.DISPLAY_TYPE == 'slider' ? 'swiper-wrapper' : data.ROW %>">
                    <% for (let kk in data.ITEMS) { %>
                    <% $arItem = data.ITEMS[kk] %>
                    <div class="<%= data.DISPLAY_TYPE == 'slider' ? 'swiper-slide' : data.COL %>"
                         id="item_<%= kk %>"
                    <%= data.USE_TAG == 'Y' && data.SOURCE.TAG.VALUE ? data.SOURCE.TAG.VALUE : '' %>>
                    <div class="iblock-list-item-wrap <%= data.MODIFIER_ITEM_WRAP %> <%= data.ANIMATION %>"
                    <%= $arItem.ANIMATION_DELAY ? $arItem.ANIMATION_DELAY : '' %>>
                    <div class="iblock-list-item position-relative <%= data.MODIFIER_ITEM_AREA %>">
                        <% if (data["AREA"].indexOf('image') !== -1){ %>
                        <div class="iblock-list-item-image <%= data.MODIFIER_ITEM_IMAGE_WRAP %>">
                            <div class="<%= data.IMAGE_ASPECT_RATIO != 'original' && data.IMAGE_ASPECT_RATIO != 'manual' ? 'aspect-ratio' : '' %> <%= data.IMAGE_ASPECT_RATIO %>">
                                <div class="sf-viewbox-wrap hover  wave-light <%= data.IMAGE_ASPECT_RATIO !== 'original' && data.IMAGE_ASPECT_RATIO !== 'manual' ? 'aspect-ratio-content' : '' %> <%= data.MODIFIER_VIEWBOX_WRAP %>"
                                     style="<%= data.IMAGE_ASPECT_RATIO === 'manual' ? `height: ${data.IMAGE_MAX_HEIGHT}px` : '' %>">

                                    <% if (data.IMAGE_ASPECT_RATIO == "original" && data.IMAGE_ASPECT_RATIO !=
                                    "manual"){ %>
                                    <img class="img-fluid lazyload <%= data.IMAGE_HOVER_STYLE %> <%= data.MODIFIER_ITEM_IMAGE %>"
                                         src="<%= data.SF_IMAGE_BLANK %>"
                                         data-src="<%= $arItem['SOURCE']['IMAGE']['PREVIEW']['SRC'] %>"
                                         style="<%= data.IMAGE_MAX_HEIGHT != '' ? `max-height: ${data.IMAGE_MAX_HEIGHT}px` : '' %>">
                                    <% } else { %>
                                    <div class="sf-viewbox"
                                         style="background: transparent url('<%= data.SF_IMAGE_LAZYLOAD_BG %>') repeat"></div>
                                    <div style="background-position: center center"><img
                                            class="sf-viewbox lazyload bg-cover <%= data.IMAGE_HOVER_STYLE %> <%= data.MODIFIER_ITEM_IMAGE %>"
                                            src="<%= $arItem['SOURCE']['IMAGE']['PREVIEW']['SRC'] %>">
                                    </div>
                                    <% } %>
                                    <div class="sf-viewbox sf-special-hidden">
                                        <div class="align-middle t-center p-3">
                                            <%= $arItem["NAME"] %>
                                        </div>
                                    </div>
                                    <% if (data["IMAGE_ACTION"] == "link") { %>
                                    <a class="sf-viewbox"
                                       href="<%= $arItem['SOURCE']['LINK']['VALUE'] %>" <%=
                                    data.SOURCE_LINK_TARGET %>
                                    style="background-color: transparent!important"></a>
                                    <% } else if (data["IMAGE_ACTION"] == "photo") { %>
                                    <a
                                            data-fancybox="photo"
                                            data-caption="<%= data.SHOW_MEDIA_TITLE == 'N' ? '' : $arItem['SOURCE']['MEDIA_TITLE']['VALUE'] %>"
                                            href="<%= $arItem['SOURCE']['IMAGE']['DETAIL']['SRC'] %>"
                                            class="sf-viewbox"
                                            style="background-color: transparent!important"
                                    ></a>
                                    <% } else if (data["IMAGE_ACTION"] == "video"){ %>
                                    <a
                                            data-fancybox
                                            title="<%= data.SHOW_MEDIA_TITLE == 'N' ? '' : $arItem['SOURCE']['MEDIA_TITLE']['VALUE'] %>"
                                            href="https://www.youtube.com/embed/<%= $arItem['PROPERTIES']['LINK']['VALUE'] %>?autoplay=1"
                                            class="sf-viewbox"
                                            style="background-color: transparent!important"
                                    ></a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <% if (data["AREA"].indexOf('icon') !== -1){ %>
                        <div class="iblock-list-item-icon <%= data.MODIFIER_ITEM_ICON_WRAP %>">
                            <% if (data["USE_LINK"] == "Y"){ %>
                            <a href="<%= $arItem['SOURCE']['LINK']['VALUE'] %>" <%= data.SOURCE_LINK_TARGET %>
                            class="l-underline-none">
                            <i class="svg-icon <%= data.MODIFIER_ITEM_ICON %>"><%=
                                $arItem['SOURCE']['ICON']['SRC'] %></i>
                            </a>
                            <% } else{ %>
                            <i class="svg-icon <%= data.MODIFIER_ITEM_ICON %>"><%=
                                $arItem['SOURCE']['ICON']['SRC'] %></i>
                            <% } %>
                        </div>
                        <% } %>
                        <% if (data["ORDER"]){ %>
                        <div class="iblock-list-item-text <%= data.MODIFIER_ITEM_TEXT %>"
                             style="min-height:170px">
                            <% for (let key in data["ORDER"]){ %>

                            <% switch (data["ORDER"][key]) {
                            case "date": %>
                            <% if ($arItem["SOURCE"]["DATE"]["VALUE"] && data["AREA"].indexOf('date') !== -1) { %>
                            <p class="<%= data.MODIFIER_ITEM_DATE_TEXT %>"><i
                                    class="<%= data.MODIFIER_ITEM_DATE_ICON %>"></i><%=
                                $arItem['SOURCE']['DATE']['VALUE'] %>
                            </p>
                            <% } %>
                            <% break %>
                            <% case "section": %>
                            <% if ($arItem['SOURCE']['SECTION'] && data["AREA"].indexOf('section') !==
                            -1){ %>
                            <p class="<%= data.MODIFIER_ITEM_SECTION %>"><a
                                    href="<%= $arItem['SOURCE']['SECTION']['URL'] %>"><%=
                                $arItem['SOURCE']['SECTION']['NAME'] %></a>
                            </p>
                            <% } %>
                            <% break %>
                            <% case "title": %>
                            <% if (data["AREA"].indexOf('title') !== -1){ %>
                            <h3 class="<%= data.MODIFIER_ITEM_TITLE %>">
                                <% if (data["USE_LINK"] == "Y"){ %>
                                <a class="link-inherit link-underline-none"
                                   href="<%= $arItem['SOURCE']['LINK']['VALUE'] %>" <%= data.SOURCE_LINK_TARGET
                                %>><%= $arItem['SOURCE']['TITLE']['VALUE'] %></a>
                                <% } else{ %>
                                <%= $arItem['SOURCE']['TITLE']['VALUE'] %>
                                <% } %>
                            </h3>
                            <% } %>
                            <% break %>
                            <% case "description": %>
                            <% if (data["AREA"].indexOf('description') !== -1) { %>
                            <div class="<%= data.MODIFIER_ITEM_DESCRIPTION %>"><%=
                                $arItem['SOURCE']['DESCRIPTION']['VALUE'] %>
                            </div>
                            <% } %>
                            <% break %>
                            <% case "property": %>
                            <% if (data["AREA"].indexOf('property') !== -1) { %>
                            <ul class="<%= data.MODIFIER_PROPERTY_LIST %>">
                                <% for (let k in $arItem["SOURCE"]["PROPERTY"]){ %>
                                <% $property = $arItem["SOURCE"]["PROPERTY"][k] %>
                                <% if ($property["NAME"] && $property["VALUE"]){ %>
                                <li class="<%= data.MODIFIER_PROPERTY_ELEMENT %>">
                                    <span class="<%= data.MODIFIER_PROPERTY_NAME %>"><%= $property["NAME"] %>:</span>
                                    <% if ($property["VALUE"]){ %>
                                    <% for (let g in $property["VALUE"]){ %>
                                    <% $valueProperty = $property["VALUE"][g] %>
                                    <span class="<%= data.MODIFIER_PROPERTY_VALUE %>"><%= $valueProperty %></span>
                                    <% } %>
                                    <% } else{ %>
                                    <span class="<%= data.MODIFIER_PROPERTY_VALUE %>"><%= $property["VALUE"] %></span>
                                    <% } %>
                                </li>
                                <% } %>
                                <% } %>
                            </ul>
                            <% } %>
                            <% break %>
                            <% case "button": %>
                            <div class="<%= data.MODIFIER_BUTTON_WRAP %>">
                                <% if (data["AREA"].indexOf('button') !== -1){ %>
                                <a class="<%= data.MODIFIER_BUTTON %>"
                                   href="<%= $arItem['SOURCE']['LINK']['VALUE'] %>" <%= data.SOURCE_LINK_TARGET
                                %>>
                                <% if (data["BUTTON_TEXT_TYPE"] == "text"){ %>
                                <%= data["BUTTON_TEXT"] %>
                                <% } else if (data["BUTTON_TEXT_TYPE"] == "property"){ %>
                                <%= $arItem["SOURCE"]["BUTTON"]["VALUE"] %>
                                <% } %>
                                </a>
                                <% } %>
                            </div>
                            <% break %>
                            <% case "include": %>
                            <% if (data["AREA"].indexOf('include') !== -1){ %>
                            include_file
                            <% } %>
                            <% break %>
                            <% } %>

                            <% } %>

                        </div>
                        <% } %>
                        <% if (data["USE_LINKBOX"] == "Y"){ %>
                        <a class="position-absolute w-full h-full z-1 at-0 al-0"
                           href="<%= $arItem['SOURCE']['LINK']['VALUE'] %>" <%= data.SOURCE_LINK_TARGET %>
                        style="background-color: transparent!important"></a>
                        <% } %>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
</section>