.sf-tab ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex; }
  .sf-tab ul li .sf-tab-active {
    display: none; }
  .sf-tab ul li .sf-tab-inactive {
    display: block;
    cursor: pointer; }
  .sf-tab ul li.active .sf-tab-active {
    display: block; }
  .sf-tab ul li.active .sf-tab-inactive {
    display: none; }

.sf-tab .sf-tab-content {
  position: relative; }
  .sf-tab .sf-tab-content > section {
    display: none; }
  .sf-tab .sf-tab-content > section.active {
    display: block; }

