/*
            * Main SCSS file for including styles for component.
            * 
            * Imports:
            * - Styling variables (_var__component_name.scss)
            * - Base styles (_css__component_name.scss)
            * 
            */
/* Tooltip styles */
.sf-tooltip {
  --sf-tooltip--border-radius: var(--sf-a5);
  position: relative;
  display: inline-block;
  color: #fff;
  border-radius: var(--sf-tooltip--border-radius);
  cursor: pointer; }
  .sf-tooltip--text {
    --sf-tooltip-text--height:  var(--sf-c6);
    --sf-tooltip-text--width:  var(--sf-e5);
    --sf-tooltip-text--background-color: var(--sf-surface-2);
    --sf-tooltip-text--color: var(--sf-on-surface);
    --sf-tooltip-text--font-size: var(--sf-text--size-1\/3);
    --sf-tooltip-text--line-height: var(--sf-text--height-1\/3);
    --sf-tooltip--transform: translate(-50%, -100%);
    --sf-tooltip--left: 50%;
    --sf-tooltip--top: 0%;
    position: absolute;
    visibility: hidden;
    min-height: var(--sf-tooltip-text--height);
    min-width: var(--sf-tooltip-text--width);
    background-color: var(--sf-tooltip-text--background-color);
    color: var(--sf-tooltip-text--color);
    font-size: var(--sf-tooltip-text--font-size);
    line-height: var(--sf-tooltip-text--line-height);
    text-align: center;
    border-radius: var(--sf-a6);
    z-index: 1;
    left: var(--sf-tooltip--left);
    top: var(--sf-tooltip--top);
    transform: var(--sf-tooltip--transform);
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: var(--sf-a8) var(--sf-b0); }
    .sf-tooltip--text-botoom {
      --sf-tooltip--transform: translate(-50%, 100%); }
    .sf-tooltip--text-right {
      --sf-tooltip--top: 50%;
      --sf-tooltip--left: 0%;
      --sf-tooltip--transform: translate(30%, -50%); }
    .sf-tooltip--text-left {
      --sf-tooltip--top: 50%;
      --sf-tooltip--left: -100%;
      --sf-tooltip--transform: translate(-80%, -50%); }
    .sf-tooltip--text .sf-tooltip--title {
      font-weight: var(--sf-text--font-weight-7);
      padding-bottom: var(--sf-a4); }
      .sf-tooltip--text .sf-tooltip--title--norm {
        font-weight: var(--sf-text--font-weight-4); }
    .sf-tooltip--text-big {
      display: grid;
      text-align: left;
      width: calc(var(--sf-tooltip-text--line-height)* 20); }
  .sf-tooltip .sf-tooltip--pointer:after {
    --sf-tooltip--pointer-bottom: var(--sf-b0);
    --sf-tooltip--pointer-left: 50%;
    --sf-tooltip--pointer-margin-left: var(--sf-a5);
    --sf-tooltip--pointer-border-color: var(--sf-surface-2) transparent  transparent  transparent;
    content: "";
    position: absolute;
    bottom: calc(var(--sf-tooltip--pointer-bottom) * -1);
    left: var(--sf-tooltip--pointer-left);
    margin-left: calc(var(--sf-tooltip--pointer-margin-left) * -1);
    border-width: var(--sf-a5);
    border-style: solid;
    border-color: var(--sf-tooltip--pointer-border-color); }
  .sf-tooltip .sf-tooltip--pointer--top-right {
    --sf-tooltip--left: 70%;
    --sf-tooltip--transform: translate(-20%, -100%); }
    .sf-tooltip .sf-tooltip--pointer--top-right::after {
      --sf-tooltip--pointer-left: 15%; }
  .sf-tooltip .sf-tooltip--pointer--top-left {
    --sf-tooltip--left: 20%;
    --sf-tooltip--transform: translate(-70%, -100%); }
    .sf-tooltip .sf-tooltip--pointer--top-left::after {
      --sf-tooltip--pointer-left: 80%; }
  .sf-tooltip .sf-tooltip--pointer-top:after {
    content: "";
    position: absolute;
    --sf-tooltip--pointer-bottom: 100%;
    --sf-tooltip--pointer-left: 50%;
    --sf-tooltip--pointer-margin-left: calc(var(--sf-a5) * -1);
    --sf-tooltip--pointer-border-color: transparent transparent var(--sf-surface-2)  transparent; }
  .sf-tooltip .sf-tooltip--pointer-bottom:after {
    content: "";
    position: absolute;
    --sf-tooltip--pointer-bottom: -100%;
    --sf-tooltip--pointer-left: 50%;
    --sf-tooltip--pointer-border-color: transparent transparent var(--sf-surface-2)  transparent; }
  .sf-tooltip .sf-tooltip--pointer-right:after {
    content: "";
    position: absolute;
    --sf-tooltip--pointer-bottom: -30%;
    --sf-tooltip--pointer-left: calc(var(--sf-a5) * -1);
    --sf-tooltip--pointer-left-margin-left: var(--sf-a5);
    --sf-tooltip--pointer-border-color: transparent var(--sf-surface-2) transparent  transparent ; }
  .sf-tooltip .sf-tooltip--pointer-left::after {
    content: "";
    position: absolute;
    --sf-tooltip--pointer-bottom: -35%;
    --sf-tooltip--pointer-left: 100%;
    --sf-tooltip--pointer-margin-left: 0px;
    --sf-tooltip--pointer-border-color: transparent  transparent transparent var(--sf-surface-2); }

/* Show tooltip on hover */
.sf-tooltip:hover .sf-tooltip--text {
  visibility: visible;
  opacity: 1; }

