<div class="sf--textarea-container">
    <% console.log(data) %>
    <label for="<%= data.cParams.id %>" class="smart-textarea-label">
        <%= data.label || '' %>
    </label>
    <div class="sf--textarea-main">
    <textarea
            id="<%= data.cParams.id %>"
            name="<%=data.cParams.name %>"
            class="sf--textarea-input <%= data.class || '' %>"
            placeholder="<%= data.placeholder || '' %>"
        <%= data.required ? 'required' : '' %>
        ><%= data.value || '' %></textarea>
    </div>

    <span class="sf--textarea-hint">
        <%= data.hint || '' %>
    </span>
</div>
