<div>
    <% if(data.customComponent) { %>
    <smart sf-code="text" name="<%= data.customComponent.name %>" data='{"text": "<%= data.customComponent.text %>"}'></smart>
    <% } %>
    <div style="font-size: 24px; font-weight: 700; margin-bottom: 40px;"><%= data.title %></div>
    <% if(data.products) { %>
    <div style="display: flex; flex-wrap: wrap">
        <% data.products.map( function (el) { %>
        <div style="width: 50%;     box-shadow: 0 0 11px 7px #ebebeb; padding: 10px;">
            <img style="width: 100%; height: 100px" src="<%= el.img.src %>" alt="<%= el.title %>"/>
            <span class="p-left-1 m-top-2 flex" style="font-weight: bold"><%= el.title %></span>
            <span class="p-left-1 m-top-2 flex"><%= el.prices.price %></span>
            <smart name="button" sf-code="button"  property='{"size": "small"}' data='{"text": "Купить"}'></smart>
        </div>
        <% }) %>
    </div>
    <% } %>
    <smart nodata
           name="ajax"
           sf-code="ajax">
    </smart>
</div>