/*
            * Main SCSS file for including styles for component.
            * 
            * Imports:
            * - Styling variables (_var__component_name.scss)
            * - Base styles (_css__component_name.scss)
            * 
            */
/*
            * _var__component_name.scss
            * 
            * SCSS file containing variables for component styling.
            * 
            * Used to define default parameters (color, size, etc.)
            * that can be overridden in other parts of the project.
            * 
            * Example usage:
            * --sf-icon--fill: 0; // Fill for icon
            */
/*main styles*/
.sf-alert {
  --sf-alert--background-color: transparent;
  --sf-alert--border-width: var(--sf-a1);
  --sf-alert--border-color: var(--sf-outline-variant);
  --sf-alert--border-style: solid;
  --sf-alert--color: inherit;
  border-radius: var(--sf-radius-1);
  display: grid;
  grid-template-columns: 1rem auto 1rem;
  padding: var(--sf-b6);
  background-color: var(--sf-alert--background-color);
  border-width: var(--sf-alert--border-width);
  border-color: var(--sf-alert--border-color);
  border-style: var(--sf-alert--border-style);
  color: var(--sf-alert--color);
  /*alert blue*/
  /*alert secondary*/
  /*alert red*/
  /*alert yellow*/
  /*alert green*/ }
  .sf-alert--standart {
    --sf-alert--border-width: var(--sf-a1);
    --sf-alert--border-color: var(--sf-outline-variant);
    --sf-alert--border-style: solid; }
  .sf-alert i {
    font-size: var(--sf-text--height-1\/2);
    color: inherit; }
  .sf-alert-alert-icon, .sf-alert-alert-close {
    position: relative; }
  .sf-alert-alert-icon i, .sf-alert-alert-close i {
    position: absolute;
    top: 0;
    color: inherit; }
  .sf-alert-content {
    padding-left: var(--sf-b2);
    padding-right: var(--sf-b2);
    font-size: var(--sf-text--size-1\/2);
    line-height: var(--sf-text--height-1\/2); }
    .sf-alert-content--title, .sf-alert-content--footer {
      display: flex;
      font-weight: var(--sf-text--font-weight-5);
      gap: var(--sf-b2); }
    .sf-alert-content p {
      margin-bottom: unset; }
      .sf-alert-content p:nth-child(1) {
        padding-bottom: var(--sf-b2); }
  .sf-alert-close button {
    all: unset; }
  .sf-alert a, .sf-alert a:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit; }
  .sf-alert-footer a:nth-child(2) {
    padding-left: var(--sf-b2); }
  .sf-alert-footer i {
    vertical-align: text-top;
    color: inherit; }
  .sf-alert--primary {
    --sf-alert--background-color: var(--sf-primary-95);
    --sf-alert--border-width: var(--sf-a1);
    --sf-alert--border-color: var(--sf-primary-70);
    --sf-alert--border-style: solid;
    --sf-alert--color: var(--sf-primary-50); }
  .sf-alert--secondary {
    --sf-alert--background-color: var(--sf-secondary-95);
    --sf-alert--border-width: var(--sf-a1);
    --sf-alert--border-color: var(--sf-secondary);
    --sf-alert--border-style: solid;
    --sf-alert--color: var(--sf-secondary-40); }
  .sf-alert--error {
    --sf-alert--background-color: var(--sf-error-95);
    --sf-alert--border-width: var(--sf-a1);
    --sf-alert--border-color: var(--sf-error);
    --sf-alert--border-style: solid;
    --sf-alert--color: var(--sf-error-40); }
  .sf-alert--warning {
    --sf-alert--background-color: var(--sf-warning-95);
    --sf-alert--border-width: var(--sf-a1);
    --sf-alert--border-color: var(--sf-warning);
    --sf-alert--border-style: solid;
    --sf-alert--color: var(--sf-warning-40); }
  .sf-alert--success {
    --sf-alert--background-color: var(--sf-success-95);
    --sf-alert--border-width: var(--sf-a1);
    --sf-alert--border-color: var(--sf-success);
    --sf-alert--border-style: solid;
    --sf-alert--color: var(--sf-success-40); }
  .sf-alert .sf-alert-close button {
    cursor: pointer; }

