<div class="sf--cl-loader w-auto">
    <div class="flex">
        <span class="p-top-1 bg-gray-3 w-full flex-1 m-1"></span>
        <span class="p-top-1 bg-gray-3 w-full flex-1 m-1"></span>
        <span class="p-top-1 bg-gray-3 w-full flex-1 m-1"></span>
    </div>
    <div class="flex">
        <span class="p-top-1 bg-gray-3 w-full flex-1 m-1"></span>
        <span class="p-top-1 bg-gray-3 w-full flex-1 m-1"></span>
        <span class="p-top-1 bg-gray-3 w-full flex-1 m-1"></span>
    </div>
    <div class="flex">
        <span class="p-top-1 bg-gray-3 w-full flex-1 m-1"></span>
        <span class="p-top-1 bg-gray-3 w-full flex-1 m-1"></span>
        <span class="p-top-1 bg-gray-3 w-full flex-1 m-1"></span>
    </div>
</div>