/*
            * Main SCSS file for including styles for component.
            * 
            * Imports:
            * - Styling variables (_var__component_name.scss)
            * - Base styles (_css__component_name.scss)
            * 
            */
/*
            * _var__component_name.scss
            * 
            * SCSS file containing variables for component styling.
            * 
            * Used to define default parameters (color, size, etc.)
            * that can be overridden in other parts of the project.
            * 
            * Example usage:
            * --sf-icon--fill: 0; // Fill for icon
            */
.page-switch {
  --sf-page-switch--background-color: transparent;
  --sf-page-switch--color: inherit;
  --sf-page-switch--border-color: none;
  --sf-page-switch--border-width: var(--sf-a1);
  --sf-page-switch--border-style: none;
  --sf-page-switch--border-radius: var(--sf-b1);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  width: var(--sf-text--height-4);
  height: var(--sf-text--height-4);
  font-size: var(--sf-text--size-1);
  border-radius: --sf-page-switch--border-radius;
  background-color: var(--sf-page-switch--background-color);
  color: var(--sf-page-switch--color);
  border: var(--sf-page-switch--border-width) var(--sf-page-switch--border-style) var(--sf-page-switch--border-color);
  padding: auto; }

.page-switch:hover {
  --sf-page-switch--background-color: var(--sf-surface-2);
  --sf-page-switch--border-color: none;
  --sf-page-switch--color: var(--sf-on-surface);
  --sf-page-switch--border-width: var(--sf-a1);
  --sf-page-switch--border-style: solid; }

.page-switch.active {
  --sf-page-switch--background-color: var(--sf-primary-95);
  --sf-page-switch--color: inherit;
  --sf-page-switch--border-color: var(--sf-outline-primary);
  --sf-page-switch--color: var(--sf-outline-primary);
  --sf-page-switch--border-width: var(--sf-a1);
  --sf-page-switch--border-style: solid; }

.page-switch.round {
  border-radius: 50px; }

.page-switch:focus {
  --sf-page-switch--color: inherit;
  --sf-page-switch--border-color: var(--sf-focus);
  --sf-page-switch--border-style: solid;
  --sf-page-switch--border-width: var(--sf-a2); }

/*/*/
.pagination {
  display: grid;
  grid-template-columns: auto 80% auto; }

.pagination .pages {
  display: inline-flex;
  text-align: center;
  justify-content: center; }

.pagination .control {
  font-weight: 500;
  font-size: var(--sf-b6);
  color: var(--sf-on-surface);
  border-radius: var(--sf-a4);
  max-width: var(--sf-e7);
  border: var(--sf-a1) solid var(--sf-outline-variant);
  padding-top: var(--sf-a8);
  padding-bottom: var(--sf-a8);
  padding-right: var(--sf-b6);
  padding-left: var(--sf-b6);
  background-color: transparent;
  cursor: pointer; }

.pagination.minimal {
  grid-template-columns: auto auto; }

.pagination.minimal {
  padding-right: var(--sf-b6);
  padding-left: var(--sf-b6); }

.pagination.minimal .pages {
  text-align: left;
  justify-content: left; }

.pagination.minimal .control {
  margin-left: var(--sf-b2); }

.pagination.minimal .controls {
  display: inline-flex;
  justify-content: end; }

.pagination.minimal.reverse .pages {
  text-align: right;
  justify-content: right; }

.pagination.minimal.reverse .control {
  margin-left: var(--sf-b2); }

.pagination.minimal.reverse .controls {
  display: inline-flex;
  justify-content: start; }

.pagination.minimal.center {
  grid-template-columns: auto auto auto; }

.pagination.minimal.center .pages {
  text-align: center;
  justify-content: center; }

.pagination.minimal.center.control {
  margin-left: var(--sf-b2); }

.pagination.minimal.center .left {
  text-align: left; }

.pagination.minimal.center .right {
  justify-content: right;
  display: inline-flex; }

.pagination.center {
  grid-template-columns: auto; }

.pagination.center .page-switch {
  --sf-page-switch--border-width: var(--sf-a1);
  --sf-page-switch--border-color: var(--sf-outline-variant);
  --sf-page-switch--border-style: solid;
  --sf-page-switch--border-radius: unset; }

.pagination.right {
  justify-content: end;
  grid-template-columns: unset; }

.pagination.left {
  justify-content: start;
  grid-template-columns: unset; }

