.sf--debug-default {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 9999;
  box-shadow: 0 8px 17px #6f6a6a;
  width: 400px;
  transition: .3s all ease; }
  .sf--debug-default.hide {
    right: -400px; }

.cl--debug {
  position: relative;
  height: 100%; }
  .cl--debug-hide button {
    cursor: pointer; }
    .cl--debug-hide button svg {
      display: none; }
    .cl--debug-hide button.hide {
      position: absolute;
      top: 20px;
      right: calc(100% + 20px);
      font-size: 0;
      width: auto;
      border-radius: 50%;
      color: #ffffff; }
      .cl--debug-hide button.hide svg {
        display: block; }
  .cl--debug-errors-button {
    cursor: pointer; }
  .cl--debug-errors-child {
    display: none;
    margin-top: 10px; }
    .cl--debug-errors-child a {
      color: rgba(var(--sf-blue-5r), var(--sf-blue-5g), var(--sf-blue-5b), var(--sf-link--alfa));
      display: block; }
    .cl--debug-errors-child ul {
      margin-top: 5px;
      font-size: 14px; }
  .cl--debug-errors-children {
    margin-bottom: 10px; }
    .cl--debug-errors-children:last-child {
      margin-bottom: 0; }
    .cl--debug-errors-children.active .cl--debug-errors-child {
      display: block; }
  .cl--debug-badge {
    position: absolute;
    right: 10px;
    width: 24px;
    height: 24px;
    font-size: 12px;
    border-radius: 50%;
    top: 50%;
    transform: translate(0, -50%); }
  .cl--debug-ul {
    margin-top: 10px !important; }
    .cl--debug-ul > li {
      margin-bottom: 5px; }
      .cl--debug-ul > li:last-child {
        margin-bottom: 0; }
  .cl--debug-child-item {
    padding: 5px;
    background: rgb(var(--sf-gray-9r), var(--sf-gray-9g), var(--sf-gray-9b));
    text-decoration: none;
    color: rgba(var(--sf-gray-1r), var(--sf-gray-1g), var(--sf-gray-1b), var(--sf-bg--alfa)); }
  .cl--debug-name {
    color: #0d95e8; }
    .cl--debug-name.has-children {
      position: relative;
      display: block;
      cursor: pointer;
      padding-right: 20px; }
      .cl--debug-name.has-children i {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translate(0, -50%); }
    .cl--debug-name + ul {
      margin-top: 10px; }
  .cl--debug-property > ul {
    padding: 0; }
  .cl--debug-property ul {
    margin: 0; }
    .cl--debug-property ul li {
      display: flex;
      flex-direction: column; }
      .cl--debug-property ul li > ul {
        display: none; }
        .cl--debug-property ul li > ul.active {
          display: block; }
  .cl--debug-property-name {
    color: #f9433a;
    display: block; }
  .cl--debug-aside {
    position: absolute;
    right: 100%;
    top: 0;
    min-width: 400px;
    bottom: 0;
    border: 1px solid rgb(var(--sf-black-r), var(--sf-black-g), var(--sf-black-b));
    opacity: 0;
    visibility: hidden;
    gap: 20px;
    overflow: auto; }
    .cl--debug-aside.active {
      opacity: 1;
      visibility: visible; }

.cl--error {
  border: 2px solid red; }

.cl--debug-focused {
  border: 2px solid green; }

.cl--debug-child {
  gap: 10px;
  margin-top: 10px;
  display: none; }
  .cl--debug-child-item-wrap {
    display: flex; }
  .cl--debug-child.active {
    display: flex; }

.cl--debug-tabs {
  overflow: auto; }

.cl--debug-wrap {
  display: grid;
  grid-auto-rows: max-content 1fr; }

.cl--debug-tab {
  display: none; }
  .cl--debug-tab.active {
    display: block; }

.flex-column {
  flex-direction: column; }

