.sf-close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1em;
  height: 1em;
  opacity: 0.4;
  cursor: pointer;
  border: none;
  background: transparent; }
  .sf-close:hover {
    opacity: 1; }
  .sf-close:before, .sf-close:after {
    position: absolute;
    left: 50%;
    content: ' ';
    height: 100%;
    width: 2px;
    top: 0;
    background-color: rgba(var(--sf-gray-6r), var(--sf-gray-6g), var(--sf-gray-6b), var(--sf-bg--alfa)); }
  .sf-close:before {
    transform: rotate(45deg); }
  .sf-close:after {
    transform: rotate(-45deg); }

.sf-close-right {
  margin-right: -3em; }
  .sf-close-right-top {
    margin-top: -1em;
    margin-right: -3em; }

.sf-close-left {
  margin-left: -3em;
  left: 1em;
  right: auto; }
  .sf-close-left-top {
    left: 1em;
    right: auto;
    margin-top: -1em;
    margin-left: -3em; }

.sf-close-top {
  margin-top: -3em;
  top: 1em;
  bottom: auto; }

.sf-close-bottom {
  margin-bottom: -3em;
  bottom: 1em;
  top: auto; }

.sf-close-center {
  top: 50%;
  margin-top: -0.5em; }

