pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em; }

code.hljs {
  padding: 3px 5px; }

/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/
.hljs {
  color: #abb2bf;
  background: #282c34; }

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic; }

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd; }

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75; }

.hljs-literal {
  color: #56b6c2; }

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #98c379; }

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66; }

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee; }

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #e6c07b; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

.hljs-link {
  text-decoration: underline; }

.cl--edit-save {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  top: -36px;
  cursor: pointer;
  background: #ffffff;
  transition: .3s all ease;
  border-radius: 10px;
  outline: none !important;
  border: 1px solid #ebebeb; }
  .cl--edit-save:hover {
    background: #dddddd; }

.cl--edit-text {
  width: 100%;
  height: 100%;
  background: transparent !important;
  outline: none;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  padding: 3px 5px;
  font-family: 'Source Code Pro', monospace;
  line-height: 24px;
  color: transparent;
  caret-color: #ffffff; }

.cl--edit-children {
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
  position: relative; }
  .cl--edit-children pre {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; }

.cl--edit-side {
  position: fixed;
  height: 400px;
  background: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #ebebeb;
  bottom: -999px;
  left: 0;
  right: 0;
  z-index: 9999; }
  .cl--edit-side.active {
    bottom: 0; }

.cl--edit-button {
  border: 1px solid #ebebeb;
  width: 32px;
  height: 32px;
  color: #8d8c8c;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 10px;
  cursor: pointer;
  background: #ffffff;
  transition: .3s all ease;
  outline: none !important; }
  .cl--edit-button:hover {
    background: #dddddd; }

.cl--edit-wrapper {
  position: relative;
  padding-top: 60px; }

.theme-atom-one-dark-reasonable pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em; }

.theme-atom-one-dark-reasonable code.hljs {
  padding: 3px 5px; }

.theme-atom-one-dark-reasonable .hljs {
  color: #abb2bf;
  background: #282c34; }

.theme-atom-one-dark-reasonable .hljs-keyword, .theme-atom-one-dark-reasonable .hljs-operator, .theme-atom-one-dark-reasonable .hljs-pattern-match {
  color: #f92672; }

.theme-atom-one-dark-reasonable .hljs-function, .theme-atom-one-dark-reasonable .hljs-pattern-match .hljs-constructor {
  color: #61aeee; }

.theme-atom-one-dark-reasonable .hljs-function .hljs-params {
  color: #a6e22e; }

.theme-atom-one-dark-reasonable .hljs-function .hljs-params .hljs-typing {
  color: #fd971f; }

.theme-atom-one-dark-reasonable .hljs-module-access .hljs-module {
  color: #7e57c2; }

.theme-atom-one-dark-reasonable .hljs-constructor {
  color: #e2b93d; }

.theme-atom-one-dark-reasonable .hljs-constructor .hljs-string {
  color: #9ccc65; }

.theme-atom-one-dark-reasonable .hljs-comment, .theme-atom-one-dark-reasonable .hljs-quote {
  color: #b18eb1;
  font-style: italic; }

.theme-atom-one-dark-reasonable .hljs-doctag, .theme-atom-one-dark-reasonable .hljs-formula {
  color: #c678dd; }

.theme-atom-one-dark-reasonable .hljs-deletion, .theme-atom-one-dark-reasonable .hljs-name, .theme-atom-one-dark-reasonable .hljs-section, .theme-atom-one-dark-reasonable .hljs-selector-tag, .theme-atom-one-dark-reasonable .hljs-subst {
  color: #e06c75; }

.theme-atom-one-dark-reasonable .hljs-literal {
  color: #56b6c2; }

.theme-atom-one-dark-reasonable .hljs-addition, .theme-atom-one-dark-reasonable .hljs-attribute, .theme-atom-one-dark-reasonable .hljs-meta .hljs-string, .theme-atom-one-dark-reasonable .hljs-regexp, .theme-atom-one-dark-reasonable .hljs-string {
  color: #98c379; }

.theme-atom-one-dark-reasonable .hljs-built_in, .theme-atom-one-dark-reasonable .hljs-class .hljs-title, .theme-atom-one-dark-reasonable .hljs-title.class_ {
  color: #e6c07b; }

.theme-atom-one-dark-reasonable .hljs-attr, .theme-atom-one-dark-reasonable .hljs-number, .theme-atom-one-dark-reasonable .hljs-selector-attr, .theme-atom-one-dark-reasonable .hljs-selector-class, .theme-atom-one-dark-reasonable .hljs-selector-pseudo, .theme-atom-one-dark-reasonable .hljs-template-variable, .theme-atom-one-dark-reasonable .hljs-type, .theme-atom-one-dark-reasonable .hljs-variable {
  color: #d19a66; }

.theme-atom-one-dark-reasonable .hljs-bullet, .theme-atom-one-dark-reasonable .hljs-link, .theme-atom-one-dark-reasonable .hljs-meta, .theme-atom-one-dark-reasonable .hljs-selector-id, .theme-atom-one-dark-reasonable .hljs-symbol, .theme-atom-one-dark-reasonable .hljs-title {
  color: #61aeee; }

.theme-atom-one-dark-reasonable .hljs-emphasis {
  font-style: italic; }

.theme-atom-one-dark-reasonable .hljs-strong {
  font-weight: 700; }

.theme-atom-one-dark-reasonable .hljs-link {
  text-decoration: underline; }

.theme-atom-one-dark-reasonable-min pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em; }

.theme-atom-one-dark-reasonable-min code.hljs {
  padding: 3px 5px; }

.theme-atom-one-dark-reasonable-min .hljs {
  color: #abb2bf;
  background: #282c34; }

.theme-atom-one-dark-reasonable-min .hljs-keyword, .theme-atom-one-dark-reasonable-min .hljs-operator, .theme-atom-one-dark-reasonable-min .hljs-pattern-match {
  color: #f92672; }

.theme-atom-one-dark-reasonable-min .hljs-function, .theme-atom-one-dark-reasonable-min .hljs-pattern-match .hljs-constructor {
  color: #61aeee; }

.theme-atom-one-dark-reasonable-min .hljs-function .hljs-params {
  color: #a6e22e; }

.theme-atom-one-dark-reasonable-min .hljs-function .hljs-params .hljs-typing {
  color: #fd971f; }

.theme-atom-one-dark-reasonable-min .hljs-module-access .hljs-module {
  color: #7e57c2; }

.theme-atom-one-dark-reasonable-min .hljs-constructor {
  color: #e2b93d; }

.theme-atom-one-dark-reasonable-min .hljs-constructor .hljs-string {
  color: #9ccc65; }

.theme-atom-one-dark-reasonable-min .hljs-comment, .theme-atom-one-dark-reasonable-min .hljs-quote {
  color: #b18eb1;
  font-style: italic; }

.theme-atom-one-dark-reasonable-min .hljs-doctag, .theme-atom-one-dark-reasonable-min .hljs-formula {
  color: #c678dd; }

.theme-atom-one-dark-reasonable-min .hljs-deletion, .theme-atom-one-dark-reasonable-min .hljs-name, .theme-atom-one-dark-reasonable-min .hljs-section, .theme-atom-one-dark-reasonable-min .hljs-selector-tag, .theme-atom-one-dark-reasonable-min .hljs-subst {
  color: #e06c75; }

.theme-atom-one-dark-reasonable-min .hljs-literal {
  color: #56b6c2; }

.theme-atom-one-dark-reasonable-min .hljs-addition, .theme-atom-one-dark-reasonable-min .hljs-attribute, .theme-atom-one-dark-reasonable-min .hljs-meta .hljs-string, .theme-atom-one-dark-reasonable-min .hljs-regexp, .theme-atom-one-dark-reasonable-min .hljs-string {
  color: #98c379; }

.theme-atom-one-dark-reasonable-min .hljs-built_in, .theme-atom-one-dark-reasonable-min .hljs-class .hljs-title, .theme-atom-one-dark-reasonable-min .hljs-title.class_ {
  color: #e6c07b; }

.theme-atom-one-dark-reasonable-min .hljs-attr, .theme-atom-one-dark-reasonable-min .hljs-number, .theme-atom-one-dark-reasonable-min .hljs-selector-attr, .theme-atom-one-dark-reasonable-min .hljs-selector-class, .theme-atom-one-dark-reasonable-min .hljs-selector-pseudo, .theme-atom-one-dark-reasonable-min .hljs-template-variable, .theme-atom-one-dark-reasonable-min .hljs-type, .theme-atom-one-dark-reasonable-min .hljs-variable {
  color: #d19a66; }

.theme-atom-one-dark-reasonable-min .hljs-bullet, .theme-atom-one-dark-reasonable-min .hljs-link, .theme-atom-one-dark-reasonable-min .hljs-meta, .theme-atom-one-dark-reasonable-min .hljs-selector-id, .theme-atom-one-dark-reasonable-min .hljs-symbol, .theme-atom-one-dark-reasonable-min .hljs-title {
  color: #61aeee; }

.theme-atom-one-dark-reasonable-min .hljs-emphasis {
  font-style: italic; }

.theme-atom-one-dark-reasonable-min .hljs-strong {
  font-weight: 700; }

.theme-atom-one-dark-reasonable-min .hljs-link {
  text-decoration: underline; }

.theme-atom-one-dark pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em; }

.theme-atom-one-dark code.hljs {
  padding: 3px 5px;
  height: 100%; }

.theme-atom-one-dark {
  height: 100%; }
  .theme-atom-one-dark pre {
    height: 100%; }
    .theme-atom-one-dark pre code {
      height: 100%; }

.theme-atom-one-dark .hljs {
  color: #abb2bf;
  background: #282c34; }

.theme-atom-one-dark .hljs-tag {
  color: #abb2bf !important; }

.theme-atom-one-dark .hljs-comment, .theme-atom-one-dark .hljs-quote {
  color: #5c6370;
  font-style: italic; }

.theme-atom-one-dark .hljs-doctag, .theme-atom-one-dark .hljs-formula, .theme-atom-one-dark .hljs-keyword {
  color: #c678dd; }

.theme-atom-one-dark .hljs-deletion, .theme-atom-one-dark .hljs-name, .theme-atom-one-dark .hljs-section, .theme-atom-one-dark .hljs-selector-tag, .theme-atom-one-dark .hljs-subst {
  color: #e06c75; }

.theme-atom-one-dark .hljs-literal {
  color: #56b6c2; }

.theme-atom-one-dark .hljs-addition, .theme-atom-one-dark .hljs-attribute, .theme-atom-one-dark .hljs-meta .hljs-string, .theme-atom-one-dark .hljs-regexp, .theme-atom-one-dark .hljs-string {
  color: #98c379; }

.theme-atom-one-dark .hljs-attr, .theme-atom-one-dark .hljs-number, .theme-atom-one-dark .hljs-selector-attr, .theme-atom-one-dark .hljs-selector-class, .theme-atom-one-dark .hljs-selector-pseudo, .theme-atom-one-dark .hljs-template-variable, .theme-atom-one-dark .hljs-type, .theme-atom-one-dark .hljs-variable {
  color: #d19a66; }

.theme-atom-one-dark .hljs-bullet, .theme-atom-one-dark .hljs-link, .theme-atom-one-dark .hljs-meta, .theme-atom-one-dark .hljs-selector-id, .theme-atom-one-dark .hljs-symbol, .theme-atom-one-dark .hljs-title {
  color: #61aeee; }

.theme-atom-one-dark .hljs-built_in, .theme-atom-one-dark .hljs-class .hljs-title, .theme-atom-one-dark .hljs-title.class_ {
  color: #e6c07b; }

.theme-atom-one-dark .hljs-emphasis {
  font-style: italic; }

.theme-atom-one-dark .hljs-strong {
  font-weight: 700; }

.theme-atom-one-dark .hljs-link {
  text-decoration: underline; }

.theme-atom-one-dark-min pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em; }

.theme-atom-one-dark-min code.hljs {
  padding: 3px 5px; }

.theme-atom-one-dark-min .hljs {
  color: #abb2bf;
  background: #282c34; }

.theme-atom-one-dark-min .hljs-comment, .theme-atom-one-dark-min .hljs-quote {
  color: #5c6370;
  font-style: italic; }

.theme-atom-one-dark-min .hljs-doctag, .theme-atom-one-dark-min .hljs-formula, .theme-atom-one-dark-min .hljs-keyword {
  color: #c678dd; }

.theme-atom-one-dark-min .hljs-deletion, .theme-atom-one-dark-min .hljs-name, .theme-atom-one-dark-min .hljs-section, .theme-atom-one-dark-min .hljs-selector-tag, .theme-atom-one-dark-min .hljs-subst {
  color: #e06c75; }

.theme-atom-one-dark-min .hljs-literal {
  color: #56b6c2; }

.theme-atom-one-dark-min .hljs-addition, .theme-atom-one-dark-min .hljs-attribute, .theme-atom-one-dark-min .hljs-meta .hljs-string, .theme-atom-one-dark-min .hljs-regexp, .theme-atom-one-dark-min .hljs-string {
  color: #98c379; }

.theme-atom-one-dark-min .hljs-attr, .theme-atom-one-dark-min .hljs-number, .theme-atom-one-dark-min .hljs-selector-attr, .theme-atom-one-dark-min .hljs-selector-class, .theme-atom-one-dark-min .hljs-selector-pseudo, .theme-atom-one-dark-min .hljs-template-variable, .theme-atom-one-dark-min .hljs-type, .theme-atom-one-dark-min .hljs-variable {
  color: #d19a66; }

.theme-atom-one-dark-min .hljs-bullet, .theme-atom-one-dark-min .hljs-link, .theme-atom-one-dark-min .hljs-meta, .theme-atom-one-dark-min .hljs-selector-id, .theme-atom-one-dark-min .hljs-symbol, .theme-atom-one-dark-min .hljs-title {
  color: #61aeee; }

.theme-atom-one-dark-min .hljs-built_in, .theme-atom-one-dark-min .hljs-class .hljs-title, .theme-atom-one-dark-min .hljs-title.class_ {
  color: #e6c07b; }

.theme-atom-one-dark-min .hljs-emphasis {
  font-style: italic; }

.theme-atom-one-dark-min .hljs-strong {
  font-weight: 700; }

.theme-atom-one-dark-min .hljs-link {
  text-decoration: underline; }

.theme-atom-one-light pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em; }

.theme-atom-one-light code.hljs {
  padding: 3px 5px; }

.theme-atom-one-light .hljs {
  color: #383a42;
  background: #fafafa; }

.theme-atom-one-light .hljs-comment, .theme-atom-one-light .hljs-quote {
  color: #a0a1a7;
  font-style: italic; }

.theme-atom-one-light .hljs-doctag, .theme-atom-one-light .hljs-formula, .theme-atom-one-light .hljs-keyword {
  color: #a626a4; }

.theme-atom-one-light .hljs-deletion, .theme-atom-one-light .hljs-name, .theme-atom-one-light .hljs-section, .theme-atom-one-light .hljs-selector-tag, .theme-atom-one-light .hljs-subst {
  color: #e45649; }

.theme-atom-one-light .hljs-literal {
  color: #0184bb; }

.theme-atom-one-light .hljs-addition, .theme-atom-one-light .hljs-attribute, .theme-atom-one-light .hljs-meta .hljs-string, .theme-atom-one-light .hljs-regexp, .theme-atom-one-light .hljs-string {
  color: #50a14f; }

.theme-atom-one-light .hljs-attr, .theme-atom-one-light .hljs-number, .theme-atom-one-light .hljs-selector-attr, .theme-atom-one-light .hljs-selector-class, .theme-atom-one-light .hljs-selector-pseudo, .theme-atom-one-light .hljs-template-variable, .theme-atom-one-light .hljs-type, .theme-atom-one-light .hljs-variable {
  color: #986801; }

.theme-atom-one-light .hljs-bullet, .theme-atom-one-light .hljs-link, .theme-atom-one-light .hljs-meta, .theme-atom-one-light .hljs-selector-id, .theme-atom-one-light .hljs-symbol, .theme-atom-one-light .hljs-title {
  color: #4078f2; }

.theme-atom-one-light .hljs-built_in, .theme-atom-one-light .hljs-class .hljs-title, .theme-atom-one-light .hljs-title.class_ {
  color: #c18401; }

.theme-atom-one-light .hljs-emphasis {
  font-style: italic; }

.theme-atom-one-light .hljs-strong {
  font-weight: 700; }

.theme-atom-one-light .hljs-link {
  text-decoration: underline; }

.theme-atom-one-light-min pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em; }

.theme-atom-one-light-min code.hljs {
  padding: 3px 5px; }

.theme-atom-one-light-min .hljs {
  color: #383a42;
  background: #fafafa; }

.theme-atom-one-light-min .hljs-comment, .theme-atom-one-light-min .hljs-quote {
  color: #a0a1a7;
  font-style: italic; }

.theme-atom-one-light-min .hljs-doctag, .theme-atom-one-light-min .hljs-formula, .theme-atom-one-light-min .hljs-keyword {
  color: #a626a4; }

.theme-atom-one-light-min .hljs-deletion, .theme-atom-one-light-min .hljs-name, .theme-atom-one-light-min .hljs-section, .theme-atom-one-light-min .hljs-selector-tag, .theme-atom-one-light-min .hljs-subst {
  color: #e45649; }

.theme-atom-one-light-min .hljs-literal {
  color: #0184bb; }

.theme-atom-one-light-min .hljs-addition, .theme-atom-one-light-min .hljs-attribute, .theme-atom-one-light-min .hljs-meta .hljs-string, .theme-atom-one-light-min .hljs-regexp, .theme-atom-one-light-min .hljs-string {
  color: #50a14f; }

.theme-atom-one-light-min .hljs-attr, .theme-atom-one-light-min .hljs-number, .theme-atom-one-light-min .hljs-selector-attr, .theme-atom-one-light-min .hljs-selector-class, .theme-atom-one-light-min .hljs-selector-pseudo, .theme-atom-one-light-min .hljs-template-variable, .theme-atom-one-light-min .hljs-type, .theme-atom-one-light-min .hljs-variable {
  color: #986801; }

.theme-atom-one-light-min .hljs-bullet, .theme-atom-one-light-min .hljs-link, .theme-atom-one-light-min .hljs-meta, .theme-atom-one-light-min .hljs-selector-id, .theme-atom-one-light-min .hljs-symbol, .theme-atom-one-light-min .hljs-title {
  color: #4078f2; }

.theme-atom-one-light-min .hljs-built_in, .theme-atom-one-light-min .hljs-class .hljs-title, .theme-atom-one-light-min .hljs-title.class_ {
  color: #c18401; }

.theme-atom-one-light-min .hljs-emphasis {
  font-style: italic; }

.theme-atom-one-light-min .hljs-strong {
  font-weight: 700; }

.theme-atom-one-light-min .hljs-link {
  text-decoration: underline; }

