<div class="t-left text-1 m-right-2 col">
    <% if(data.title) { %>
    <p class="text-1 m-bottom-0"><%= data.title %></p>
    <% } %>
    <div class="form-group block m-right-2">
        <form method="get" action="">

            <div class="flex items-cross-center">
                <div class="m-right-2">
                    <input type="text" name="<%= data.name %>>"
                           class="w-full block weight-4 appearance-none transition bg-origin-padding p-top-1 p-bottom-1 p-right-5 p-left-2 text-1 radius-2 color-main bg-white border-1 border-gray-3"
                           value="" placeholder="Поиск...">
                </div>
                <div class="m-right-2">
                    <input type="submit"
                           class="relative inline-block weight-4 center wrap-none textext-middle border-1 radius-2 border-transparent transition-all-1 select-none cursor-pointer p-top-1 p-bottom-1 p-right-2 p-left-2 text-1 string-normal bg-white border-gray-5 color-black hover:bg-gray-6 hover:b-gray-6 hover:color-white"
                           value="Искать">
                </div>
                <% if(data.link || data.tag) { %>
                <div class="p-left-2">
                    <a href="/ru/press-center/news/" class="relative inline-block weight-4 center wrap-none textext-middle border-1 radius-2 border-transparent transition-all-1 select-none cursor-pointer p-top-1 p-bottom-1 p-right-2 p-left-2 text-1 string-normal bg-white border-gray-5 color-black hover:bg-gray-6 hover:b-gray-6 hover:color-white inline-blocknk-underline-none">Сбросить</a>
                </div>
                <% } %>
            </div>
        </form>
    </div>
</div>