@charset "UTF-8";
.sf--input {
  display: flex;
  align-items: center;
  padding: 0 16px;
  background: #fff;
  border: 1px solid #C4C7D0;
  border-radius: 6px;
  max-width: 448px;
  width: 100%;
  transition: 0.3s all ease; }
  .sf--input.disabled {
    border: 1px solid #C4C7D0; }
    .sf--input.disabled * {
      color: #C4C7D0; }
  .sf--input.filled {
    box-shadow: 0 0 0 4px rgba(0, 115, 237, 0.24); }
    .sf--input.filled label {
      padding: 26px 0 6px 0; }
      .sf--input.filled label span {
        top: 5px;
        transform: none;
        font-size: 14px; }
  .sf--input-select {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 24px;
    cursor: pointer; }
    .sf--input-select .selected-country {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 8px;
      background: transparent; }
    .sf--input-select .country-select-icon {
      position: absolute;
      right: 8px;
      pointer-events: none;
      display: flex;
      align-items: center; }
    .sf--input-select .country-dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: #fff;
      border: 1px solid #C4C7D0;
      border-radius: 6px;
      max-height: 200px;
      min-width: 200px;
      overflow-y: auto;
      display: none;
      /* Скрываем список по умолчанию */
      z-index: 1000;
      --sf-scroll-thumb-width: 0;
      --sf-scroll-bg-width: 0; }
    .sf--input-select .country-text {
      width: 24px; }
    .sf--input-select .country-dropdown.open {
      display: block; }
    .sf--input-select .country-option {
      padding: 8px;
      cursor: pointer;
      transition: background 0.3s; }
      .sf--input-select .country-option:hover {
        background: #f1f1f1; }
  .sf--input label {
    position: relative;
    flex: 1;
    padding: 16px 0; }
    .sf--input label span {
      cursor: text;
      color: #C4C7D0;
      position: absolute;
      left: 8px;
      font-size: 16px;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.3s all ease; }
    .sf--input label input {
      padding: 0 8px;
      font-size: 16px;
      border: none;
      outline: none;
      background: transparent;
      width: 100%; }
      .sf--input label input:required + span:after {
        content: '*';
        display: block;
        position: absolute;
        left: calc(100% + 4px);
        top: 0;
        font-size: inherit;
        color: #D73A49; }
  .sf--input-right {
    padding: 0 8px;
    display: flex;
    align-items: center; }
    .sf--input-right svg {
      color: #C4C7D0; }

