html.special.special-kerning-middle * {
  letter-spacing: 0.15em !important; }

html.special.special-kerning-big * {
  letter-spacing: 0.3em !important; }

html.special.special-interval-15 * {
  line-height: 1.5 !important; }

html.special.special-interval-20 * {
  line-height: 2 !important; }

html.special.special-img-none [data-b24-crm-button-cont],
html.special.special-img-none [data-b24-crm-button-shadow],
html.special.special-img-none iframe,
html.special.special-img-none ymaps,
html.special.special-img-none img,
html.special.special-img-none svg,
html.special.special-img-none video {
  opacity: 0 !important; }

html.special.special-img-none iframe,
html.special.special-img-none ymaps {
  filter: grayscale(1) !important;
  -webkit-filter: grayscale(1);
  background-color: transparent !important; }

html.special.special-img-none .sf-special-white [data-b24-crm-button-cont],
html.special.special-img-none .sf-special-white [data-b24-crm-button-shadow],
html.special.special-img-none .sf-special-white iframe,
html.special.special-img-none .sf-special-white ymaps,
html.special.special-img-none .sf-special-white img,
html.special.special-img-none .sf-special-white [data-bg],
html.special.special-img-none .sf-special-white svg,
html.special.special-img-none .sf-special-white video,
html.special.special-img-none .sf-special-black
.sf-special-yellow [data-b24-crm-button-cont],
html.special.special-img-none .sf-special-black
.sf-special-yellow [data-b24-crm-button-shadow],
html.special.special-img-none .sf-special-black
.sf-special-yellow iframe,
html.special.special-img-none .sf-special-black
.sf-special-yellow ymaps,
html.special.special-img-none .sf-special-black
.sf-special-yellow img,
html.special.special-img-none .sf-special-black
.sf-special-yellow [data-bg],
html.special.special-img-none .sf-special-black
.sf-special-yellow svg,
html.special.special-img-none .sf-special-black
.sf-special-yellow video,
html.special.special-img-none .sf-special-green [data-b24-crm-button-cont],
html.special.special-img-none .sf-special-green [data-b24-crm-button-shadow],
html.special.special-img-none .sf-special-green iframe,
html.special.special-img-none .sf-special-green ymaps,
html.special.special-img-none .sf-special-green img,
html.special.special-img-none .sf-special-green [data-bg],
html.special.special-img-none .sf-special-green svg,
html.special.special-img-none .sf-special-green video,
html.special.special-img-none .sf-special-blue [data-b24-crm-button-cont],
html.special.special-img-none .sf-special-blue [data-b24-crm-button-shadow],
html.special.special-img-none .sf-special-blue iframe,
html.special.special-img-none .sf-special-blue ymaps,
html.special.special-img-none .sf-special-blue img,
html.special.special-img-none .sf-special-blue [data-bg],
html.special.special-img-none .sf-special-blue svg,
html.special.special-img-none .sf-special-blue video {
  border: 1px solid currentColor !important; }

html.special.special-img-black .swiper-lazy-loaded,
html.special.special-img-black [data-bg],
html.special.special-img-black iframe,
html.special.special-img-black img,
html.special.special-img-black video,
html.special.special-img-black svg,
html.special.special-img-black ymaps {
  filter: grayscale(1) !important;
  -webkit-filter: grayscale(1);
  background-color: transparent !important;
  border: 1px solid currentColor !important; }

html.special.special-font-mono *:not(i) {
  font-family: "Courier New", Courier, monospace !important; }

html.special.special-font-serif *:not(i) {
  font-family: "Times New Roman", Times, serif !important; }

html.special.special-font-sans *:not(i) {
  font-family: Arial, Helvetica, sans-serif !important; }

html.special .sf-special-white {
  background-color: #FFF !important;
  color: #000 !important;
  border-color: #000 !important; }
  html.special .sf-special-white *,
  html.special .sf-special-white ::after, html.special .sf-special-white ::before {
    background: none;
    background-color: inherit !important;
    color: inherit !important;
    border-color: inherit !important;
    box-shadow: none !important;
    -webkit-text-decoration-color: inherit !important;
            text-decoration-color: inherit !important; }
  html.special .sf-special-white [class*="hover:bg-"]:hover,
  html.special .sf-special-white [class*="hover:bg-"]:hover::after,
  html.special .sf-special-white [class*="hover:bg-"]:hover::before {
    background-color: #000 !important;
    color: #FFF !important;
    border-color: #FFF !important; }
  html.special .sf-special-white [class*="hover:color-"]:hover,
  html.special .sf-special-white [class*="hover:color-"]:hover::after,
  html.special .sf-special-white [class*="hover:color-"]:hover::before {
    background-color: #000 !important;
    color: #FFF !important;
    border-color: #FFF !important; }
  html.special .sf-special-white [class*="hover:border-"]:hover,
  html.special .sf-special-white [class*="hover:border-"]:hover::after,
  html.special .sf-special-white [class*="hover:border-"]:hover::before {
    background-color: #000 !important;
    color: #FFF !important;
    border-color: #FFF !important; }

html.special .sf-special-black {
  background-color: #000 !important;
  color: #FFF !important;
  border-color: #FFF !important; }
  html.special .sf-special-black *,
  html.special .sf-special-black ::after, html.special .sf-special-black ::before {
    background: none;
    background-color: inherit !important;
    color: inherit !important;
    border-color: inherit !important;
    box-shadow: none !important;
    -webkit-text-decoration-color: inherit !important;
            text-decoration-color: inherit !important; }
  html.special .sf-special-black [class*="hover:bg-"]:hover,
  html.special .sf-special-black [class*="hover:bg-"]:hover::after,
  html.special .sf-special-black [class*="hover:bg-"]:hover::before {
    background-color: #FFF !important;
    color: #000 !important;
    border-color: #000 !important; }
  html.special .sf-special-black [class*="hover:color-"]:hover,
  html.special .sf-special-black [class*="hover:color-"]:hover::after,
  html.special .sf-special-black [class*="hover:color-"]:hover::before {
    background-color: #FFF !important;
    color: #000 !important;
    border-color: #000 !important; }
  html.special .sf-special-black [class*="hover:border-"]:hover,
  html.special .sf-special-black [class*="hover:border-"]:hover::after,
  html.special .sf-special-black [class*="hover:border-"]:hover::before {
    background-color: #FFF !important;
    color: #000 !important;
    border-color: #000 !important; }

html.special .sf-special-yellow {
  background-color: #FF0 !important;
  color: #000 !important;
  border-color: #000 !important; }
  html.special .sf-special-yellow *,
  html.special .sf-special-yellow ::after, html.special .sf-special-yellow ::before {
    background: none;
    background-color: inherit !important;
    color: inherit !important;
    border-color: inherit !important;
    box-shadow: none !important;
    -webkit-text-decoration-color: inherit !important;
            text-decoration-color: inherit !important; }
  html.special .sf-special-yellow [class*="hover:bg-"]:hover,
  html.special .sf-special-yellow [class*="hover:bg-"]:hover::after,
  html.special .sf-special-yellow [class*="hover:bg-"]:hover::before {
    background-color: #000 !important;
    color: #FF0 !important;
    border-color: #FF0 !important; }
  html.special .sf-special-yellow [class*="hover:color-"]:hover,
  html.special .sf-special-yellow [class*="hover:color-"]:hover::after,
  html.special .sf-special-yellow [class*="hover:color-"]:hover::before {
    background-color: #000 !important;
    color: #FF0 !important;
    border-color: #FF0 !important; }
  html.special .sf-special-yellow [class*="hover:border-"]:hover,
  html.special .sf-special-yellow [class*="hover:border-"]:hover::after,
  html.special .sf-special-yellow [class*="hover:border-"]:hover::before {
    background-color: #000 !important;
    color: #FF0 !important;
    border-color: #FF0 !important; }

html.special .sf-special-blue {
  background-color: #9FD7FF !important;
  color: #000 !important;
  border-color: #000 !important; }
  html.special .sf-special-blue *,
  html.special .sf-special-blue ::after, html.special .sf-special-blue ::before {
    background: none;
    background-color: inherit !important;
    color: inherit !important;
    border-color: inherit !important;
    -webkit-text-decoration-color: inherit !important;
            text-decoration-color: inherit !important; }
  html.special .sf-special-blue [class*="hover:bg-"]:hover,
  html.special .sf-special-blue [class*="hover:bg-"]:hover::after,
  html.special .sf-special-blue [class*="hover:bg-"]:hover::before {
    background-color: #000 !important;
    color: #9FD7FF !important;
    border-color: #9FD7FF !important; }
    html.special .sf-special-blue [class*="hover:bg-"]:hover *,
    html.special .sf-special-blue [class*="hover:bg-"]:hover::after *,
    html.special .sf-special-blue [class*="hover:bg-"]:hover::before * {
      background-color: #000 !important;
      color: #9FD7FF !important;
      border-color: #9FD7FF !important;
      box-shadow: none !important; }
  html.special .sf-special-blue [class*="hover:color-"]:hover,
  html.special .sf-special-blue [class*="hover:color-"]:hover::after,
  html.special .sf-special-blue [class*="hover:color-"]:hover::before {
    background-color: #000 !important;
    color: #9FD7FF !important;
    border-color: #9FD7FF !important; }
    html.special .sf-special-blue [class*="hover:color-"]:hover *,
    html.special .sf-special-blue [class*="hover:color-"]:hover::after *,
    html.special .sf-special-blue [class*="hover:color-"]:hover::before * {
      background-color: #000 !important;
      color: #9FD7FF !important;
      border-color: #9FD7FF !important; }
  html.special .sf-special-blue [class*="hover:border-"]:hover,
  html.special .sf-special-blue [class*="hover:border-"]:hover::after,
  html.special .sf-special-blue [class*="hover:border-"]:hover::before {
    background-color: #000 !important;
    color: #9FD7FF !important;
    border-color: #9FD7FF !important; }
    html.special .sf-special-blue [class*="hover:border-"]:hover *,
    html.special .sf-special-blue [class*="hover:border-"]:hover::after *,
    html.special .sf-special-blue [class*="hover:border-"]:hover::before * {
      background-color: #000 !important;
      color: #9FD7FF !important;
      border-color: #9FD7FF !important; }

html.special .sf-special-green {
  background-color: #000 !important;
  color: #A9DD38 !important;
  border-color: #A9DD38 !important; }
  html.special .sf-special-green *,
  html.special .sf-special-green ::after, html.special .sf-special-green ::before {
    background: none;
    background-color: inherit !important;
    color: inherit !important;
    border-color: inherit !important;
    box-shadow: none !important;
    -webkit-text-decoration-color: inherit !important;
            text-decoration-color: inherit !important; }
  html.special .sf-special-green [class*="hover:bg-"]:hover,
  html.special .sf-special-green [class*="hover:bg-"]:hover::after,
  html.special .sf-special-green [class*="hover:bg-"]:hover::before {
    background-color: #A9DD38 !important;
    color: #000 !important;
    border-color: #000 !important; }
  html.special .sf-special-green [class*="hover:color-"]:hover,
  html.special .sf-special-green [class*="hover:color-"]:hover::after,
  html.special .sf-special-green [class*="hover:color-"]:hover::before {
    background-color: #A9DD38 !important;
    color: #000 !important;
    border-color: #000 !important; }
  html.special .sf-special-green [class*="hover:border-"]:hover,
  html.special .sf-special-green [class*="hover:border-"]:hover::after,
  html.special .sf-special-green [class*="hover:border-"]:hover::before {
    background-color: #A9DD38 !important;
    color: #000 !important;
    border-color: #000 !important; }

